In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

# Display all columns
pd.set_option('display.max_columns', None)

In [2]:
# Get working directory
import os
print('Current directory is: ', os.getcwd())

Current directory is:  c:\Users\shubh\Desktop\Dissertation\project\Backend

In [3]:
# Load the geo-encoded property data
df = pd.read_csv(r'Output Files\properties_with_coordinates.csv') 
df.head()

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Approved Authority Name,Units Available,Price,Price (English),Flooring Type,Electricity Status,Maintenance Type,Maintenance Charges,Booking Amount,Landmark,Covered Area,Project Name,sqft Price,Carpet Area,Area Name,Property Uniqueness,Unit of Carpet Area,Society,Ownership Type,furnished Type,Bathroom,Parking,Facing,Amenities Facing,Transaction Type,Floor Data,Type of Property,City,bedroom,Data Referred From,floors,Water Status,Luxury Flat,Covered Area.1,Carpet Area Unit,isPrimeLocationProperty,Tenants Preference,Location,Property,covArea Unit,isLuxuryServiceProvided,Property Lifespan,balconies,Rera,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,Possession By,NRI Pref,Land Area / Covered Area,Land Area Unit,Pantry Type,latitude,longitude,geocoded_address,geocoding_success,address_variant_used
0,12684,Ready to Move,NaN,20,Y,TATA Housing Development Company Ltd.,TMC,10.0,6300000.0,63 Lac,Vitrified,No/Rare Powercut,Per sq. Unit Monthly,3.0,100000.0,Rajoli naka,579.0,Tata Amantra,10880.0,579.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Unfurnished,2.0,1 Covered,East,Main Road,New Property,20 of 34 Floor,Apartment,Thane,2,Agent,34.0,Water Availability 24 Hours Available,F,579,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,New Construction,NaN,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
1,12683,Ready to Move,NaN,18,N,Sai Satyam Developers,KDMC,0.0,5400000.0,54 Lac,Vitrified,No/Rare Powercut,Monthly,1200.0,100000.0,This property has reputed scholl ints vicinity.,850.0,Sai Satyam Homes,6352.0,585.0,Kalyan West,East Facing Property,Sq-ft,Y,Freehold,Unfurnished,2.0,1 Open,East,"Garden/Park, Main Road",New Property,18 of 18 Floor,Apartment,Thane,2,Agent,18.0,Water Availability 24 Hours Available,F,850,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,New Construction,NaN,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,Y,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
2,12682,Under Construction,Dec '25,5,N,Birla Estates,KDMC,70.0,9000000.0,90 Lac,Vitrified,No/Rare Powercut,Monthly,3200.0,100000.0,Shahad is one of the attractive locations to o...,1050.0,Birla Vanya,8571.0,815.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Unfurnished,2.0,"1 Covered, 1 Open",East,"Pool, Garden/Park, Main Road",New Property,5 of 27 Floor,Apartment,Thane,2,Agent,27.0,Water Availability 24 Hours Available,F,1050,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,NaN,3.0,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
3,12681,Under Construction,Dec '24,8,Y,Godrej Properties,NaN,NaN,4950000.0,49.5 Lac,NaN,NaN,NaN,NaN,500000.0,majiwada metro station,561.0,Godrej Nirvaan,8824.0,419.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Semi-Furnished,2.0,NaN,East,Garden/Park,New Property,8 of 26 Floor,Apartment,Thane,1,Agent,26.0,NaN,F,561,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",1 BHK Flat,Sq-ft,0,NaN,NaN,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
4,12680,Under Construction,Mar '23,16,N,Tycoons Group,ABAAut,2.0,6570000.0,65.7 Lac,Vitrified,No/Rare Powercut,Monthly,2.0,50000.0,"Close to tree house school, Dmart, KDMC garden...",1067.0,Tycoons Solitaire Sapphire,6157.0,667.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Unfurnished,2.0,1 Covered,North - East,"Garden/Park, Main Road",New Property,16 of 18 Floor,Apartment,Thane,2,Agent,18.0,Water Availability 24 Hours Available,F,1067,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,NaN,1.0,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"

In [4]:
# Check shape
df.shape

(8154, 150)

In [5]:
# Print column names
for column in df.columns:
    print(column)

ID
Possession Status
Availability Starts From
Floor No
Commercial
Developer
Approved Authority Name
Units Available
Price
Price (English)
Flooring Type
Electricity Status
Maintenance Type
Maintenance Charges
Booking Amount
Landmark
Covered Area
Project Name
sqft Price
Carpet Area
Area Name
Property Uniqueness
Unit of Carpet Area
Society
Ownership Type
furnished Type
Bathroom
Parking
Facing
Amenities Facing
Transaction Type
Floor Data
Type of Property
City
bedroom
Data Referred From
floors
Water Status
Luxury Flat
Covered Area.1
Carpet Area Unit
isPrimeLocationProperty
Tenants Preference
Location
Property
covArea Unit
isLuxuryServiceProvided
Property Lifespan
balconies
Rera
Power Back Up
Lift
Rain Water Harvesting
Club House
Swimming Pool
Gymnasium
Park
Parking.1
Security
Water Storage
Private Terrace/Garden
Vaastu Compliant
Service/Goods Lift
Air Conditioned
Visitor Parking
Intercom Facility
Maintenance Staff
Waste Disposal
Laundry Service
Internet/Wi-Fi Connectivity
DTH Television Facility
RO Water System
Banquet Hall
Bar/Lounge
Cafeteria/Food Court
Conference Room
Piped Gas
Jogging and Strolling Track
Outdoor Tennis Courts
Mansion
Downtown
Skyline View
Wrap Around Balcony
Island Kitchen Layout
Full Glass Wall
House help accommodation
Concierge Services
Garden View
Marble flooring
Well Furnished
Modular Kitchen
Helipad
Private pool
Private Jaccuzi
Mini Cinema Theatre
Golf Course
Infinity Swimming Pool
Pool with temperature control
Sea facing
Skydeck
Earth quake resistant
Theme based Architectures
Health club with Steam / Jaccuzi
Large Clubhouse
Large Open space
Fingerprint Access
Grand Entrance lobby
Private Garage
Fireplace
Wine Cellar
Sky Villa
Water Front
Hilltop
Smart Home
Barbeque space
Kids play area
Library
Puja Room
Study
Servant Room
Store
Aerobics Room
Canopy Walk
Coffee Lounge & Restaurants
Dance Studio
Event Space & Amphitheatre
Flower Gardens
Guest Accommodation
Indoor Squash & Badminton Courts
Kids Play Area
Kids Play Pool With Water Slides
Library And Business Centre
Meditation Area
Multipurpose Courts
Recreational Pool
Rentable CommuniPfty Space
Retail Boulevard (Retail Shops)
Cycling & Jogging Track
Fire Fighting Equipment
Aesthetically designed landscape garden
Possession By
NRI Pref
Land Area / Covered Area
Land Area Unit
Pantry Type
latitude
longitude
geocoded_address
geocoding_success
address_variant_used

In [6]:
# Format column names
df.columns = df.columns.str.strip()

In [7]:
# Drop the not required columns
df = df.drop(columns=[
    'Ownership Type',
    'Possession By',
    'isLuxuryServiceProvided',
    'Approved Authority Name',
    'Rera',
    'Location',
    'Units Available',
    'Property',
    'Covered Area.1',
    'Booking Amount',
    'Land Area Unit',
    'Land Area / Covered Area',
    'geocoding_success',
    'address_variant_used',
    'Land Area / Covered Area',
    'Maintenance Type',
    'Maintenance Charges',
    'Pantry Type',
    'Society',
    'Electricity Status',
    'Luxury Flat',
    'Water Status',
    'NRI Pref',
    'Parking',
    'Carpet Area Unit',
    'Floor Data',
    'Flooring Type',
    'Pantry Type'
])

In [8]:
# Check updated shape
df.shape

(8154, 124)

# Data Assesment:

In [9]:
pd.set_option('display.max_columns', None)
df.head(2)

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price,Price (English),Landmark,Covered Area,Project Name,sqft Price,Carpet Area,Area Name,Property Uniqueness,Unit of Carpet Area,furnished Type,Bathroom,Facing,Amenities Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Tenants Preference,covArea Unit,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
0,12684,Ready to Move,NaN,20,Y,TATA Housing Development Company Ltd.,6300000.0,63 Lac,Rajoli naka,579.0,Tata Amantra,10880.0,579.0,Kalyan West,NaN,Sq-ft,Unfurnished,2.0,East,Main Road,New Property,Apartment,Thane,2,Agent,34.0,Y,Bachelors/Family,Sq-ft,New Construction,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T..."
1,12683,Ready to Move,NaN,18,N,Sai Satyam Developers,5400000.0,54 Lac,This property has reputed scholl ints vicinity.,850.0,Sai Satyam Homes,6352.0,585.0,Kalyan West,East Facing Property,Sq-ft,Unfurnished,2.0,East,"Garden/Park, Main Road",New Property,Apartment,Thane,2,Agent,18.0,Y,Bachelors/Family,Sq-ft,New Construction,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T..."

In [10]:
# Check duplicate entries
df.duplicated().sum()

np.int64(0)

In [11]:
# Basic dataset info
pd.set_option('display.max_info_columns', 200)
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 124 columns):
 #    Column                                   Non-Null Count  Dtype
---   ------                                   --------------  -----
 0    ID                                       8154 non-null   int64
 1    Possession Status                        8097 non-null   object
 2    Availability Starts From                 2494 non-null   object
 3    Floor No                                 7597 non-null   object
 4    Commercial                               8154 non-null   object
 5    Developer                                7006 non-null   object
 6    Price                                    8088 non-null   float64
 7    Price (English)                          8154 non-null   object
 8    Landmark                                 5296 non-null   object
 9    Covered Area                             7264 non-null   float64
 10   Project Name                             8154 non-null   object
 11   sqft Price                               7314 non-null   float64
 12   Carpet Area                              6752 non-null   float64
 13   Area Name                                8154 non-null   object
 14   Property Uniqueness                      3018 non-null   object
 15   Unit of Carpet Area                      7266 non-null   object
 16   furnished Type                           8089 non-null   object
 17   Bathroom                                 8101 non-null   float64
 18   Facing                                   5972 non-null   object
 19   Amenities Facing                         5793 non-null   object
 20   Transaction Type                         8154 non-null   object
 21   Type of Property                         8154 non-null   object
 22   City                                     8154 non-null   object
 23   bedroom                                  8154 non-null   int64
 24   Data Referred From                       8154 non-null   object
 25   floors                                   7591 non-null   float64
 26   isPrimeLocationProperty                  8154 non-null   object
 27   Tenants Preference                       8154 non-null   object
 28   covArea Unit                             7266 non-null   object
 29   Property Lifespan                        4628 non-null   object
 30   balconies                                3919 non-null   float64
 31   Power Back Up                            8154 non-null   int64
 32   Lift                                     8154 non-null   int64
 33   Rain Water Harvesting                    8154 non-null   int64
 34   Club House                               8154 non-null   int64
 35   Swimming Pool                            8154 non-null   int64
 36   Gymnasium                                8154 non-null   int64
 37   Park                                     8154 non-null   int64
 38   Parking.1                                8154 non-null   int64
 39   Security                                 8154 non-null   int64
 40   Water Storage                            8154 non-null   int64
 41   Private Terrace/Garden                   8154 non-null   int64
 42   Vaastu Compliant                         8154 non-null   int64
 43   Service/Goods Lift                       8154 non-null   int64
 44   Air Conditioned                          8154 non-null   int64
 45   Visitor Parking                          8154 non-null   int64
 46   Intercom Facility                        8154 non-null   int64
 47   Maintenance Staff                        8154 non-null   int64
 48   Waste Disposal                           8154 non-null   int64
 49   Laundry Service                          8154 non-null   int64
 50   Internet/Wi-Fi Connectivity              8154 non-null   int64
 51   DTH Television Facility                  8154 non-null   int64
 52   RO Water System                          8154 non-null   int64
 53   Banquet Hall                             8154 non-null   int64
 54   Bar/Lounge                               8154 non-null   int64
 55   Cafeteria/Food Court                     8154 non-null   int64
 56   Conference Room                          8154 non-null   int64
 57   Piped Gas                                8154 non-null   int64
 58   Jogging and Strolling Track              8154 non-null   int64
 59   Outdoor Tennis Courts                    8154 non-null   int64
 60   Mansion                                  8154 non-null   int64
 61   Downtown                                 8154 non-null   int64
 62   Skyline View                             8154 non-null   int64
 63   Wrap Around Balcony                      8154 non-null   int64
 64   Island Kitchen Layout                    8154 non-null   int64
 65   Full Glass Wall                          8154 non-null   int64
 66   House help accommodation                 8154 non-null   int64
 67   Concierge Services                       8154 non-null   int64
 68   Garden View                              8154 non-null   int64
 69   Marble flooring                          8154 non-null   int64
 70   Well Furnished                           8154 non-null   int64
 71   Modular Kitchen                          8154 non-null   int64
 72   Helipad                                  8154 non-null   int64
 73   Private pool                             8154 non-null   int64
 74   Private Jaccuzi                          8154 non-null   int64
 75   Mini Cinema Theatre                      8154 non-null   int64
 76   Golf Course                              8154 non-null   int64
 77   Infinity Swimming Pool                   8154 non-null   int64
 78   Pool with temperature control            8154 non-null   int64
 79   Sea facing                               8154 non-null   int64
 80   Skydeck                                  8154 non-null   int64
 81   Earth quake resistant                    8154 non-null   int64
 82   Theme based Architectures                8154 non-null   int64
 83   Health club with Steam / Jaccuzi         8154 non-null   int64
 84   Large Clubhouse                          8154 non-null   int64
 85   Large Open space                         8154 non-null   int64
 86   Fingerprint Access                       8154 non-null   int64
 87   Grand Entrance lobby                     8154 non-null   int64
 88   Private Garage                           8154 non-null   int64
 89   Fireplace                                8154 non-null   int64
 90   Wine Cellar                              8154 non-null   int64
 91   Sky Villa                                8154 non-null   int64
 92   Water Front                              8154 non-null   int64
 93   Hilltop                                  8154 non-null   int64
 94   Smart Home                               8154 non-null   int64
 95   Barbeque space                           8154 non-null   int64
 96   Kids play area                           8154 non-null   int64
 97   Library                                  8154 non-null   int64
 98   Puja Room                                8154 non-null   int64
 99   Study                                    8154 non-null   int64
 100  Servant Room                             8154 non-null   int64
 101  Store                                    8154 non-null   int64
 102  Aerobics Room                            8154 non-null   int64
 103  Canopy Walk                              8154 non-null   int64
 104  Coffee Lounge & Restaurants              8154 non-null   int64
 105  Dance Studio                             8154 non-null   int64
 106  Event Space & Amphitheatre               8154 non-null   int64
 107  Flower Gardens                           8154 non-null   int64
 108  Guest Accommodation                      8154 non-null   int64
 109  Indoor Squash & Badminton Courts         8154 non-null   int64
 110  Kids Play Area                           8154 non-null   int64
 111  Kids Play Pool With Water Slides         8154 non-null   int64
 112  Library And Business Centre              8154 non-null   int64
 113  Meditation Area                          8154 non-null   int64
 114  Multipurpose Courts                      8154 non-null   int64
 115  Recreational Pool                        8154 non-null   int64
 116  Rentable CommuniPfty Space               8154 non-null   int64
 117  Retail Boulevard (Retail Shops)          8154 non-null   int64
 118  Cycling & Jogging Track                  8154 non-null   int64
 119  Fire Fighting Equipment                  8154 non-null   int64
 120  Aesthetically designed landscape garden  8154 non-null   int64
 121  latitude                                 8154 non-null   float64
 122  longitude                                8154 non-null   float64
 123  geocoded_address                         8154 non-null   object
dtypes: float64(9), int64(92), object(23)
memory usage: 7.7+ MB

In [12]:
# Missing values in each column
missing_values_df = pd.DataFrame({'column_name':df.isnull().sum().index, 'num_missing_values':df.isnull().sum().values, '%missing':(df.isnull().sum().values/df.shape[0])*100})
missing_values_df.sort_values(by='%missing', ascending=False)[:30]

                 column_name  num_missing_values   %missing
2   Availability Starts From                5660  69.413785
14       Property Uniqueness                5136  62.987491
30                 balconies                4235  51.937699
29         Property Lifespan                3526  43.242580
8                   Landmark                2858  35.050282
19          Amenities Facing                2361  28.955114
18                    Facing                2182  26.759872
12               Carpet Area                1402  17.194015
5                  Developer                1148  14.078980
9               Covered Area                 890  10.914888
15       Unit of Carpet Area                 888  10.890361
28              covArea Unit                 888  10.890361
11                sqft Price                 840  10.301692
25                    floors                 563   6.904587
3                   Floor No                 557   6.831003
6                      Price                  66   0.809419
16            furnished Type                  65   0.797155
1          Possession Status                  57   0.699043
17                  Bathroom                  53   0.649988
10              Project Name                   0   0.000000
13                 Area Name                   0   0.000000
20          Transaction Type                   0   0.000000
22                      City                   0   0.000000
21          Type of Property                   0   0.000000
23                   bedroom                   0   0.000000
7            Price (English)                   0   0.000000
4                 Commercial                   0   0.000000
0                         ID                   0   0.000000
27        Tenants Preference                   0   0.000000
26   isPrimeLocationProperty                   0   0.000000

#### Column assesment: Possession Status

In [13]:
# Format values
df['Possession Status'] = df['Possession Status'].str.strip()

# Count unique values
df['Possession Status'].value_counts()

Possession Status
Ready to Move         5754
Under Construction    2103
Dec '26                 50
Dec '24                 31
Dec '23                 29
Dec '25                 28
Jun '24                 21
Jun '26                 16
Dec '27                 16
Dec '28                 12
Mar '25                  6
Mar '24                  5
Apr '28                  4
Sep '26                  4
Nov '25                  3
Immediately              3
Sep '23                  3
Jun '25                  3
Apr '24                  3
Nov '23                  2
Select Date              1
Name: count, dtype: int64

In [14]:
# Format
df['Possession Status'] = df['Possession Status'].str.replace(" '", " ")

In [15]:
# Replace past dates with 'Ready to move' status
df['Possession Status'].replace({'Immediately': 'Ready to Move', 
                                 'Dec 24': 'Ready to Move', 
                                 'Dec 23': 'Ready to Move', 
                                 'Jun 24': 'Ready to Move', 
                                 'Mar 25': 'Ready to Move',
                                 'Mar 24': 'Ready to Move',
                                 'Sep 23': 'Ready to Move',
                                 'Jun 25': 'Ready to Move',
                                 'Apr 24': 'Ready to Move',
                                 'Nov 23': 'Ready to Move'
                                 }, inplace=True)

In [16]:
# Updated value counts
df['Possession Status'].value_counts()

Possession Status
Ready to Move         5860
Under Construction    2103
Dec 26                  50
Dec 25                  28
Jun 26                  16
Dec 27                  16
Dec 28                  12
Sep 26                   4
Apr 28                   4
Nov 25                   3
Select Date              1
Name: count, dtype: int64

In [17]:
# Drop row having 'Select Date' Possesion status
index_to_drop = df[df['Possession Status'] == 'Select Date'].index
df.drop(index=index_to_drop, inplace=True)

# Check updated shape
df.shape

(8153, 124)

#### Column assesment: Availability Starts From

In [18]:
# Format values
df['Availability Starts From'] = df['Availability Starts From'].str.strip()

In [19]:
# 'Ready to Move' properties indexes
ready_to_move_indexes = df[df['Possession Status'] == 'Ready to Move'].index

# Set 'Availability Starts From' to 'Immediately' where Possesion status is 'Ready to Move'
df.loc[ready_to_move_indexes, 'Availability Starts From'] = 'Immediately'

In [20]:
# Count unique values
df['Availability Starts From'].value_counts()

Availability Starts From
Immediately    5860
Dec '25         391
Dec '24         377
Dec '23         275
Dec '26         187
Jun '23          92
Mar '23          76
Jun '25          70
Jun '24          67
Jun '26          54
Mar '25          50
Mar '24          46
Apr '23          33
Sep '25          26
Dec '27          25
Mar '26          23
Sep '23          23
May '25          22
Dec '28          21
Oct '23          20
Jul '25          19
Jul '24          18
Aug '23          17
Nov '23          16
Oct '25          15
May '23          12
Nov '24          11
Nov '25           9
May '24           9
Jun '27           8
Jul '23           8
Sep '24           8
Jan '24           7
Apr '24           7
Oct '24           7
Aug '24           6
Oct '26           6
Jan '26           6
Aug '25           6
Jan '25           5
Sep '26           5
Mar '28           5
Feb '25           4
Jun '28           4
Apr '25           4
Nov '26           3
Feb '24           3
Apr '26           3
Jan '27           2
Apr '27           2
Mar '27           2
May '26           2
Dec '22           2
Feb '26           1
Dec '29           1
Name: count, dtype: int64

In [21]:
# Format values
df['Availability Starts From'] = df['Availability Starts From'].str.replace(" '", " ")

# Update past dates to 'Immediately'
df['Availability Starts From'].replace({ 
                                 'Dec 22': 'Immediately',

                                 'Mar 23': 'Immediately',
                                 'Apr 23': 'Immediately',
                                 'May 23': 'Immediately',
                                 'Jun 23': 'Immediately',
                                 'Jul 23': 'Immediately',
                                 'Aug 23': 'Immediately',
                                 'Sep 23': 'Immediately',
                                 'Oct 23': 'Immediately',
                                 'Nov 23': 'Immediately',
                                 'Dec 23': 'Immediately',

                                 'Jan 24': 'Immediately',
                                 'Feb 24': 'Immediately',
                                 'Mar 24': 'Immediately',
                                 'Apr 24': 'Immediately',
                                 'May 24': 'Immediately',
                                 'Jun 24': 'Immediately',
                                 'Jul 24': 'Immediately',
                                 'Aug 24': 'Immediately',
                                 'Sep 24': 'Immediately',
                                 'Oct 24': 'Immediately',
                                 'Nov 24': 'Immediately',
                                 'Dec 24': 'Immediately',

                                 'Jan 25': 'Immediately',
                                 'Feb 25': 'Immediately',
                                 'Mar 25': 'Immediately',
                                 'Apr 25': 'Immediately',
                                 'May 25': 'Immediately',
                                 'Jun 25': 'Immediately',
                                 'Jul 25': 'Immediately'
                                 }, inplace=True)

In [22]:
# Update 'Possesion Status' of properties to 'Ready to Move' where 'Availability Starts From' is 'Immediately'
immediate_availability_indexes = df[df['Availability Starts From'] == 'Immediately'].index
df.loc[immediate_availability_indexes, 'Possession Status'] = 'Ready to Move'

In [23]:
# Get properties where date is provided for Possesion status
possesion_status_date_provided_indexes = df[~((df['Possession Status'] == 'Ready to Move') | (df['Possession Status'] == 'Under Construction') | (df['Possession Status'].isna()))].index

# Copy these dates to 'Availability Starts From'
df.loc[possesion_status_date_provided_indexes, 'Availability Starts From'] = df.loc[possesion_status_date_provided_indexes, 'Possession Status']

In [24]:
# Replace future dates in 'Possesion Status' with 'Under Construction'
idx = df[(df['Possession Status'] != 'Ready to Move') & (df['Possession Status'] != 'Under Construction') & (df['Possession Status'].notna())].index
df.loc[idx, 'Possession Status'] = 'Under Construction'

In [25]:
# Replace NaN values in 'Possession Status' and 'Availability Starts From' with 'Not Available, Contact Developer'
df['Possession Status'].fillna('Not Available, Contact Developer', inplace=True)
df['Availability Starts From'].fillna('Not Available, Contact Developer', inplace=True)

#### Column assesment: Floor No

In [26]:
# Format
df['Floor No'] = df['Floor No'].str.strip()

In [27]:
# Count frequency of each unique value
freq_df = df['Floor No'].value_counts().reset_index()
freq_df.columns = ['Value', 'Frequency']

fig = px.bar(freq_df, x='Value', y='Frequency', title='Frequency Plot of Floor No')
fig.show()

In [28]:
# Convert Ground, Upper Basement, Lower Basement into numbers
df['Floor No'].replace({'Ground': '0', 'Upper Basement': '-1', 'Lower Basement': '-2'}, inplace=True)

In [29]:
# Convert to Numeric
df['Floor No'] = pd.to_numeric(df['Floor No'], errors='coerce')

In [30]:
# Check missing values
df['Floor No'].isna().sum()

np.int64(557)

#### Column assesment: Commercial

In [31]:
# Format
df['Commercial'] = df['Commercial'].str.capitalize().str.strip()

In [32]:
# Count unique values
df['Commercial'].value_counts()

Commercial
N    6762
Y    1391
Name: count, dtype: int64

In [33]:
# Check missing values
df['Commercial'].isna().sum()

np.int64(0)

#### Column assesment: Developer

In [34]:
# Format
df['Developer'] = df['Developer'].str.title().str.strip()

In [35]:
# Count unique values
df['Developer'].value_counts()

Developer
Lodha                            651
Rustomjee                        185
Kalpataru Ltd.                   180
Runwal Developers                153
Godrej Properties                135
                                ...
Dange Group Of Companies           1
Poonam Universal Construction      1
Aura Om Developer                  1
Aura Navkar Group                  1
Reliable Tarang                    1
Name: count, Length: 937, dtype: int64

In [36]:
# Check missing values
df['Developer'].isna().sum()

np.int64(1147)

#### Column assesment: Price

In [37]:
# Convert prices into Crores
df['Price'] = df['Price']/10000000

# Rename column
df.rename(columns={'Price': 'Price (Crores)'}, inplace=True)

In [38]:
# Check missing values
df['Price (Crores)'].isna().sum()

np.int64(65)

In [39]:
# Drop properties with missing Price
df.dropna(subset=['Price (Crores)'], inplace=True)

#### Column assesment: Price (English)

In [40]:
# Format
df['Price (English)'] = df['Price (English)'].str.title().str.strip()

In [41]:
# Check missing values
df['Price (English)'].isna().sum()

np.int64(0)

#### Column assesment: Landmark

In [42]:
df['Landmark'] = df['Landmark'].str.capitalize().str.strip()

In [43]:
# Check missing values
df['Landmark'].isna().sum()

np.int64(2801)

#### Column assesment: Covered Area, covArea Unit

In [44]:
# Check missing values in 'Covered Area'
df['Covered Area'].isna().sum()

np.int64(877)

In [45]:
# Rename 'covArea Unit' to 'Unit of Covered Area'
df.rename(columns={'covArea Unit': 'Unit of Covered Area'}, inplace=True)

# Missing values in 'Unit of Covered Area'
df['Unit of Covered Area'].isna().sum()

np.int64(875)

In [46]:
# Count unique values in 'Unit of Covered Area'
df['Unit of Covered Area'].value_counts()

Unit of Covered Area
Sq-ft    7206
Sq-m        5
Bigha       1
Acre        1
Name: count, dtype: int64

In [47]:
# Show properties having Covered area units in Sq-m or Bigha or Acre
df[(df['Unit of Covered Area'] == 'Sq-m') | (df['Unit of Covered Area'] == 'Bigha') | (df['Unit of Covered Area'] == 'Acre')]

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Price (English),Landmark,Covered Area,Project Name,sqft Price,Carpet Area,Area Name,Property Uniqueness,Unit of Carpet Area,furnished Type,Bathroom,Facing,Amenities Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Tenants Preference,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
407,12080,Ready to Move,Immediately,1.0,Y,Satellite Builders Pvt. Ltd.,1.350,1.35 Cr,NaN,560.0,Satellite Classic,1.0,415.0,Jogeshwari East,NaN,Bigha,Unfurnished,2.0,South,Garden/Park,Resale,Apartment,Mumbai,1,Owner,7.0,N,Bachelors/Family,Bigha,15 to 20 years,NaN,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.142945,72.855185,"Jogeshwari (East), Western Express Highway, P/..."
1223,10766,Ready to Move,Immediately,4.0,Y,NaN,0.320,32 Lac,NaN,630.0,Virar Bolinj Shakti,0.0,600.0,Virar West,NaN,Acre,Unfurnished,2.0,NaN,NaN,Resale,Apartment,Mumbai,2,Owner,4.0,N,Bachelors/Family,Acre,5 to 10 years,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
1290,10635,Ready to Move,Immediately,12.0,N,Vinay Unique Group,0.340,34 Lac,Near dmart,36.0,Vinay Unique Corner,8774.0,NaN,Virar West,East Facing Property,Sq-m,Semi-Furnished,2.0,East,Main Road,Resale,Apartment,Mumbai,1,Owner,14.0,N,Bachelors/Family,Sq-m,Less than 5 years,2.0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
4399,5739,Ready to Move,Immediately,2.0,N,NaN,1.250,1.25 Cr,NaN,64.0,The Ascent Apartment B,18145.0,484.0,Santacruz East,NaN,Sq-m,Unfurnished,2.0,North,NaN,Resale,Apartment,Mumbai,1,Owner,7.0,N,Bachelors/Family,Sq-m,10 to 15 years,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.078180,72.867775,"Mary Immaculate Girls' High School, church roa..."
6884,1845,Under Construction,"Not Available, Contact Developer",17.0,Y,Uk Realty,0.678,67.8 Lac,NaN,35.0,UK Iridium,17996.0,NaN,Kandivali East,NaN,Sq-m,Unfurnished,2.0,NaN,NaN,New Property,Apartment,Mumbai,1,Builder,33.0,Y,Bachelors/Family,Sq-m,NaN,NaN,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.205196,72.862617,"Kandivali East, R/S Ward, Zone 4, Mumbai Subur..."
7376,1171,Ready to Move,Immediately,1.0,N,NaN,0.300,30 Lac,Ycce college within 150mtr.,50.0,Suyash Apartment,60000.0,750.0,Andheri West,East Facing Property,Sq-m,Unfurnished,2.0,East,Main Road,Resale,Apartment,Nagpur,2,Owner,4.0,Y,Bachelors/Family,Sq-m,5 to 10 years,2.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.117249,72.833968,"Andheri West, K/W Ward, Zone 3, Mumbai Suburba..."
7833,492,Ready to Move,Immediately,9.0,N,Deepak Developers,1.400,1.40 Cr,NaN,35.0,Deepak Daffodils,37160.0,NaN,Andheri East,NaN,Sq-m,Unfurnished,1.0,NaN,NaN,Resale,Apartment,Mumbai,1,Owner,11.0,N,Bachelors/Family,Sq-m,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.115883,72.854202,"Andheri East, K/E Ward, Zone 3, Mumbai Suburba..."

In [48]:
# Data Correction
df.loc[407, 'Unit of Covered Area'] = 'Sq-ft'
df.loc[1223, 'Unit of Covered Area'] = 'Sq-ft'

df.loc[[1290, 4399, 6884, 7376, 7833], 'Covered Area'] = df.loc[[1290, 4399, 6884, 7376, 7833], 'Covered Area'] * 10.7639
df.loc[[1290, 4399, 6884, 7376, 7833], 'Unit of Covered Area'] = 'Sq-ft'

#### Column assesment: Project Name

In [49]:
# Rename
df.rename(columns={'Project Name': 'Society'}, inplace=True)

In [50]:
# Format
df['Society'] = df['Society'].str.title().str.strip()

In [51]:
# Count unique values
df['Society'].value_counts()

Society
Lodha Amara                 154
Kalpataru Vivant             83
Omkar Alta Monte             66
Rustomjee Crown              62
Bombay Dyeing Two Icc        54
                           ...
Sher E Punjab Society         1
Crescent Grande               1
Sardar Inspire Residency      1
Andheri                       1
Sagar Heights                 1
Name: count, Length: 2328, dtype: int64

In [52]:
# Check missing values
df['Society'].isna().sum()

np.int64(0)

#### Column assesment: sqft Price

In [53]:
# Rename column
df.rename(columns={'sqft Price': 'sqft Price (INR)'}, inplace=True)

In [54]:
# Inaccurate entries
idx = df[((df['Price (Crores)']/ df['Covered Area']) * 10000000).round() - df['sqft Price (INR)'] > 1][['Price (Crores)', 'Covered Area', 'sqft Price (INR)']].index

# Data Correction
df.loc[idx, 'sqft Price (INR)'] = ((df.loc[idx, 'Price (Crores)'] * 10000000) / df.loc[idx, 'Covered Area']).round()

#### Column assesment: Carpet Area, Unit of Carpet Area

In [55]:
# Check missing values
df['Carpet Area'].isna().sum()

np.int64(1360)

In [56]:
# Properties having Carpet area greater than the Covered area
df_sub = df[df['Carpet Area'] > df['Covered Area']]
print('Properties having Carpet area greater than the Covered area: ', len(df_sub))
print()
df_sub.sample(6)

Properties having Carpet area greater than the Covered area:  52

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Price (English),Landmark,Covered Area,Society,sqft Price (INR),Carpet Area,Area Name,Property Uniqueness,Unit of Carpet Area,furnished Type,Bathroom,Facing,Amenities Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Tenants Preference,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
5023,4717,Ready to Move,Immediately,NaN,N,Oberoi Realty Ltd.,12.00,12 Cr,Western expressway highway (5 min) | juhu airp...,3765.0,Oberoi Esquire,31872.0,20870.0,Goregaon East,NaN,Sq-ft,Unfurnished,5.0,North,Garden/Park,Resale,Apartment,Mumbai,4,Agent,NaN,Y,Bachelors/Family,Sq-ft,Less than 5 years,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.169262,72.855255,"Goregaon East, P/S Ward, Zone 4, Mumbai Suburb..."
4465,5621,Ready to Move,Immediately,4.0,N,Rustomjee,8.50,8.50 Cr,Prabhadevi station,1200.0,Rustomjee Crown,70833.0,1442.0,Prabhadevi,East Facing Property,Sq-ft,Unfurnished,3.0,East,"Garden/Park, Main Road",New Property,Apartment,Mumbai,3,Agent,50.0,Y,Bachelors/Family,Sq-ft,NaN,3.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.010545,72.830368,"Rustomjee Crown Tower B, B, New Prabhadevi Mar..."
3317,7359,Ready to Move,Immediately,31.0,N,Shapoorji Pallonji Real Estate,1.55,1.55 Cr,Vivana mall,786.0,Shapoorji Pallonji Northern Lights,19720.0,788.0,Pokharan Road Number 2,NaN,Sq-ft,Unfurnished,2.0,North - West,Pool,Resale,Apartment,Thane,2,Owner,50.0,Y,Bachelors/Family,Sq-ft,NaN,2.0,1,1,0,1,1,1,1,1,0,1,0,1,0,0,1,1,1,1,0,1,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.236536,72.969981,"Pokharan Road 3, Kokanipada, Thane, Thane Talu..."
7432,1093,Ready to Move,Immediately,3.0,N,NaN,1.70,1.70 Cr,NaN,445.0,Breeze Apartment,38202.0,535.0,Andheri West,NaN,Sq-ft,Furnished,1.0,NaN,Garden/Park,Resale,Apartment,Mumbai,1,Owner,7.0,N,Bachelors/Family,Sq-ft,New Construction,NaN,1,1,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.117249,72.833968,"Andheri West, K/W Ward, Zone 3, Mumbai Suburba..."
6242,2859,Ready to Move,Immediately,52.0,N,Lodha,5.50,5.50 Cr,Near to mahalaxmi race course.,1100.0,Lodha Bellevue,62713.0,1111.0,Mahalaxmi Race Course,East Facing Property,Sq-ft,Semi-Furnished,3.0,East,NaN,New Property,Apartment,Mumbai,3,Agent,56.0,Y,Bachelors/Family,Sq-ft,NaN,1.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
680,11668,Ready to Move,Immediately,4.0,N,NaN,0.22,22 Lac,This apartment is close to nekni pada bus stop...,375.0,Om Shree Raghavendra Chs,5867.0,450.0,Dombivli East,NaN,Sq-ft,Unfurnished,1.0,NaN,NaN,Resale,Apartment,Thane,1,Owner,4.0,Y,Bachelors/Family,Sq-ft,5 to 10 years,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.211181,73.091129,"Dombivli East, Dombivli, Kalyan-Dombivli, Kaly..."

In [57]:
# Data Correction: Swap the values
original_covered_area = df_sub['Covered Area']
df_sub['Covered Area'] = df_sub['Carpet Area']
df_sub['Carpet Area'] = original_covered_area

In [58]:
# Update the original dataframe
df.update(df_sub)

In [59]:
# Count unique values in 'Unit of Carpet Area'
df['Unit of Carpet Area'].value_counts()

Unit of Carpet Area
Sq-ft    7206
Sq-m        5
Bigha       1
Acre        1
Name: count, dtype: int64

In [60]:
# Properties having Carpet area units in Sq-m or Bigha or Acre
df_sub = df[(df['Unit of Carpet Area'] == 'Sq-m') | (df['Unit of Carpet Area'] == 'Bigha') | (df['Unit of Carpet Area'] == 'Acre')]
df_sub

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Price (English),Landmark,Covered Area,Society,sqft Price (INR),Carpet Area,Area Name,Property Uniqueness,Unit of Carpet Area,furnished Type,Bathroom,Facing,Amenities Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Tenants Preference,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
407,12080,Ready to Move,Immediately,1.0,Y,Satellite Builders Pvt. Ltd.,1.350,1.35 Cr,NaN,560.0000,Satellite Classic,24107.0,415.000,Jogeshwari East,NaN,Bigha,Unfurnished,2.0,South,Garden/Park,Resale,Apartment,Mumbai,1,Owner,7.0,N,Bachelors/Family,Sq-ft,15 to 20 years,NaN,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.142945,72.855185,"Jogeshwari (East), Western Express Highway, P/..."
1223,10766,Ready to Move,Immediately,4.0,Y,NaN,0.320,32 Lac,NaN,630.0000,Virar Bolinj Shakti,5079.0,600.000,Virar West,NaN,Acre,Unfurnished,2.0,NaN,NaN,Resale,Apartment,Mumbai,2,Owner,4.0,N,Bachelors/Family,Sq-ft,5 to 10 years,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
1290,10635,Ready to Move,Immediately,12.0,N,Vinay Unique Group,0.340,34 Lac,Near dmart,387.5004,Vinay Unique Corner,8774.0,NaN,Virar West,East Facing Property,Sq-m,Semi-Furnished,2.0,East,Main Road,Resale,Apartment,Mumbai,1,Owner,14.0,N,Bachelors/Family,Sq-ft,Less than 5 years,2.0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
4399,5739,Ready to Move,Immediately,2.0,N,NaN,1.250,1.25 Cr,NaN,688.8896,The Ascent Apartment B,18145.0,484.000,Santacruz East,NaN,Sq-m,Unfurnished,2.0,North,NaN,Resale,Apartment,Mumbai,1,Owner,7.0,N,Bachelors/Family,Sq-ft,10 to 15 years,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.078180,72.867775,"Mary Immaculate Girls' High School, church roa..."
6884,1845,Under Construction,"Not Available, Contact Developer",17.0,Y,Uk Realty,0.678,67.8 Lac,NaN,376.7365,Uk Iridium,17996.0,NaN,Kandivali East,NaN,Sq-m,Unfurnished,2.0,NaN,NaN,New Property,Apartment,Mumbai,1,Builder,33.0,Y,Bachelors/Family,Sq-ft,NaN,NaN,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.205196,72.862617,"Kandivali East, R/S Ward, Zone 4, Mumbai Subur..."
7376,1171,Ready to Move,Immediately,1.0,N,NaN,0.300,30 Lac,Ycce college within 150mtr.,750.0000,Suyash Apartment,60000.0,538.195,Andheri West,East Facing Property,Sq-m,Unfurnished,2.0,East,Main Road,Resale,Apartment,Nagpur,2,Owner,4.0,Y,Bachelors/Family,Sq-ft,5 to 10 years,2.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.117249,72.833968,"Andheri West, K/W Ward, Zone 3, Mumbai Suburba..."
7833,492,Ready to Move,Immediately,9.0,N,Deepak Developers,1.400,1.40 Cr,NaN,376.7365,Deepak Daffodils,37160.0,NaN,Andheri East,NaN,Sq-m,Unfurnished,1.0,NaN,NaN,Resale,Apartment,Mumbai,1,Owner,11.0,N,Bachelors/Family,Sq-ft,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.115883,72.854202,"Andheri East, K/E Ward, Zone 3, Mumbai Suburba..."

In [61]:
# Update 'Unit of Carpet area' to 'Sq-ft'
df_sub['Unit of Carpet Area'] = 'Sq-ft'

# Update the original dataframe
df.update(df_sub)

In [62]:
# Check missing values in 'Unit of Carpet Area'
df['Unit of Carpet Area'].isna().sum()

np.int64(875)

#### Column assesment: Area Name

In [63]:
# Format
df['Area Name'] = df['Area Name'].str.title().str.strip()

In [64]:
# Count unique values
df['Area Name'].value_counts()

Area Name
Dombivli East       403
Andheri West        352
Malad East          340
Kolshet Road        300
Andheri East        293
                   ...
Azad Nagar Jjc        1
Parsi Wada            1
Mogra Village         1
Maheshwari Nagar      1
Marol Maroshi         1
Name: count, Length: 272, dtype: int64

In [65]:
# Check missing values
df['Area Name'].isna().sum()

np.int64(0)

#### Column assesment: Property Uniqueness

In [66]:
# Format
df['Property Uniqueness'] = df['Property Uniqueness'].str.capitalize().str.strip()

In [67]:
# Count unique values
df['Property Uniqueness'].value_counts()

Property Uniqueness
East facing property                                                    2320
Newly constructed property                                               288
Near jacob circle, next to raheja vivaria mahalaxmi                        7
Near lodha ncp 300 mtr away from ajmera island siopn bkc connector         3
Near highway, hospital, cinema, hotel, school, college, supermarket.       3
                                                                        ...
Near dahisar check post.                                                   1
Opp thakur mall next to dahisar toll naka                                  1
Near thakur mall n big bazaar                                              1
Nr. dahiser toll plaza westurb express highway                             1
Near nilam english school                                                  1
Name: count, Length: 306, dtype: int64

In [68]:
# Check missing values
df['Property Uniqueness'].isna().sum()

np.int64(5081)

#### Column assesment: furnished Type

In [69]:
# Rename column
df.rename(columns={'furnished Type': 'Furnished Type'}, inplace=True)

In [70]:
# Format
df['Furnished Type'] = df['Furnished Type'].str.title().str.strip()

In [71]:
# Count unique values
df['Furnished Type'].value_counts()

Furnished Type
Unfurnished       4454
Semi-Furnished    2559
Furnished         1042
Name: count, dtype: int64

In [72]:
# Check missing values
df['Furnished Type'].isna().sum()

np.int64(33)

#### Column assesment: Bathroom

In [73]:
# Count unique values
df['Bathroom'].value_counts()

Bathroom
2.0     4672
3.0     1458
1.0     1253
4.0      453
5.0      156
6.0       65
7.0        9
10.0       1
Name: count, dtype: int64

In [74]:
# Check missing values
df['Bathroom'].isna().sum()

np.int64(21)

#### Column assesment: Facing

In [75]:
# Format
df['Facing'] = df['Facing'].str.title().str.strip()

In [76]:
# Count unique values
df['Facing'].value_counts()

Facing
East            3470
North - East     929
West             615
North            495
North - West     156
South -West      111
South            107
South - East      78
Name: count, dtype: int64

In [77]:
# Format values
df['Facing'] = df['Facing'].str.replace(' - ', '-')
df['Facing'] = df['Facing'].str.replace(' -', '-')

df['Facing'].value_counts()

Facing
East          3470
North-East     929
West           615
North          495
North-West     156
South-West     111
South          107
South-East      78
Name: count, dtype: int64

In [78]:
# Missing values
df['Facing'].isna().sum()

np.int64(2127)

#### Column assesment: Amenities Facing

In [79]:
# Rename the column
df.rename(columns={'Amenities Facing': 'Amenities'}, inplace=True)

In [80]:
# Format
df['Amenities'] = df['Amenities'].str.strip()

In [81]:
# Count unique values
df['Amenities'].value_counts()

Amenities
Main Road                       1362
Garden/Park, Main Road          1252
Garden/Park                     1246
Garden/Park, Pool, Main Road    1246
Garden/Park, Pool                265
Pool, Garden/Park, Main Road     163
Pool                              91
Pool, Garden/Park                 57
Pool, Main Road                   36
Main Road, Garden/Park, Pool      30
Main Road, Garden/Park            28
Garden/Park, Main Road, Pool       5
Name: count, dtype: int64

In [82]:
# Check missing values
df['Amenities'].isna().sum()

np.int64(2307)

#### Column assesment: Transaction Type

In [83]:
# Format
df['Transaction Type'] = df['Transaction Type'].str.title().str.strip()

In [84]:
# Count unique values
df['Transaction Type'].value_counts()

Transaction Type
Resale          4875
New Property    3208
Other              3
Rent/Lease         2
Name: count, dtype: int64

In [85]:
# Drop properties with 'Other' or 'Rent/Lease' transaction type
idx = df[(df['Transaction Type'] == 'Other') | (df['Transaction Type'] == 'Rent/Lease')].index
df.drop(index = idx, inplace=True)

In [86]:
# Check missing values
df['Transaction Type'].isna().sum()

np.int64(0)

#### Column assesment: Type of Property

In [87]:
# Format
df['Type of Property'] = df['Type of Property'].str.title().str.strip()

In [88]:
# Count unique values
df['Type of Property'].value_counts()

Type of Property
Apartment                  7944
Residential House            60
Builder Floor Apartment      34
Villa                        27
Penthouse                    18
Name: count, dtype: int64

In [89]:
# Check missing values
df['Type of Property'].isna().sum()

np.int64(0)

#### Column assesment: City

In [90]:
# Format
df['City'] = df['City'].str.title().str.strip()

In [91]:
# Count unique values
df['City'].value_counts()

City
Mumbai       5306
Thane        2769
Nagpur          5
Bhiwandi        2
Hyderabad       1
Name: count, dtype: int64

In [92]:
# Drop properties where City is Nagpur, Bhiwandi or Hyderabad
idx = df[(df['City'] == 'Nagpur') | (df['City'] == 'Bhiwandi') | (df['City'] == 'Hyderabad')].index
df.drop(index=idx, inplace=True)

In [93]:
df.shape

(8075, 124)

#### Column assesment: bedroom

In [94]:
# Rename the column
df.rename(columns={'bedroom': 'Bedrooms'}, inplace=True)

In [95]:
# Count unique values
df['Bedrooms'].value_counts()

Bedrooms
2    3295
1    2535
3    1696
4     442
5      85
6      22
Name: count, dtype: int64

In [96]:
# Check missing values
df['Bedrooms'].isna().sum()

np.int64(0)

#### Column assesment: Data Referred from

In [97]:
# Rename
df.rename(columns={'Data Referred From': 'Posted By'}, inplace=True)

In [98]:
# Format
df['Posted By'] = df['Posted By'].str.title().str.strip()

In [99]:
# Count unique values
df['Posted By'].value_counts()

Posted By
Agent      4396
Owner      3423
Builder     256
Name: count, dtype: int64

In [100]:
# Check missing values
df['Posted By'].isna().sum()

np.int64(0)

#### Column assesment: floors

In [101]:
# Rename the column
df.rename(columns={'floors': 'Total Floors'}, inplace=True)

In [102]:
# Count unique values
df['Total Floors'].value_counts()

Total Floors
7.0      876
22.0     507
23.0     334
20.0     298
8.0      282
        ...
200.0      1
93.0       1
71.0       1
91.0       1
74.0       1
Name: count, Length: 82, dtype: int64

In [103]:
# Check missing values
df['Total Floors'].isna().sum()

np.int64(537)

#### Column assesment: isPrimeLocationProperty

In [104]:
# Format
df['isPrimeLocationProperty'] = df['isPrimeLocationProperty'].str.capitalize().str.strip()

In [105]:
# Count unique values
df['isPrimeLocationProperty'].value_counts()

isPrimeLocationProperty
Y    6279
N    1796
Name: count, dtype: int64

In [106]:
# Check missing values
df['isPrimeLocationProperty'].isna().sum()

np.int64(0)

#### Column assesment: Tenants Preference

In [107]:
# Format
df['Tenants Preference'] = df['Tenants Preference'].str.title().str.strip()

In [108]:
# Count unique values
df['Tenants Preference'].value_counts()

Tenants Preference
Bachelors/Family    8075
Name: count, dtype: int64

In [109]:
# Check missing values
df['Tenants Preference'].isna().sum()

np.int64(0)

#### Column assesment: Property Lifespan

In [110]:
# Format
df['Property Lifespan'] = df['Property Lifespan'].str.title().str.strip()

In [111]:
# Count unique values
df['Property Lifespan'].value_counts()

Property Lifespan
New Construction     1390
Less Than 5 Years    1050
5 To 10 Years         987
10 To 15 Years        568
Above 20 Years        311
15 To 20 Years        293
Name: count, dtype: int64

In [112]:
# Check missing values
df['Property Lifespan'].isna().sum()

np.int64(3476)

#### Column assesment: balconies

In [113]:
# Rename
df.rename(columns={'balconies': 'Balconies'}, inplace=True)

In [114]:
# Count unique values
df['Balconies'].value_counts()

Balconies
1.0    1735
2.0     987
3.0     841
4.0     245
5.0      59
6.0      21
8.0       2
7.0       1
Name: count, dtype: int64

In [115]:
# Check missing values
df['Balconies'].isna().sum()

np.int64(4184)

#### Column assesment: Parking.1

In [116]:
# Rename the column
df.rename(columns={'Parking.1': 'Parking'}, inplace=True)

In [117]:
# Count unique values
df['Parking'].value_counts()

Parking
1    5861
0    2214
Name: count, dtype: int64

In [118]:
# Check missing values
df['Parking'].isna().sum()

np.int64(0)

In [ ]:
# Save the dataframe in CSV format
df.to_csv('Output Files\\stage_a_property_data.csv', index=False)