In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

# Display all columns
pd.set_option('display.max_columns', None)

In [2]:
# Get working directory
import os
print('Current directory is: ', os.getcwd())

Current directory is:  c:\Users\shubh\Desktop\Dissertation\project\Backend

In [3]:
# Load the geo-encoded property data
df = pd.read_csv(r'Output Files\\properties_with_coordinates.csv') 
df.head()

,ID,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Approved Authority Name,Units Available,Price,Price (English),Flooring Type,Electricity Status,Maintenance Type,Maintenance Charges,Booking Amount,Landmark,Covered Area,Project Name,sqft Price,Carpet Area,Area Name,Property Uniqueness,Unit of Carpet Area,Society,Ownership Type,furnished Type,Bathroom,Parking,Facing,Amenities Facing,Transaction Type,Floor Data,Type of Property,City,bedroom,Data Referred From,floors,Water Status,Luxury Flat,Covered Area.1,Carpet Area Unit,isPrimeLocationProperty,Tenants Preference,Location,Property,covArea Unit,isLuxuryServiceProvided,Property Lifespan,balconies,Rera,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,Possession By,NRI Pref,Land Area / Covered Area,Land Area Unit,Pantry Type,latitude,longitude,geocoded_address,geocoding_success,address_variant_used
0,12684,Ready to Move,NaN,20,Y,TATA Housing Development Company Ltd.,TMC,10.0,6300000.0,63 Lac,Vitrified,No/Rare Powercut,Per sq. Unit Monthly,3.0,100000.0,Rajoli naka,579.0,Tata Amantra,10880.0,579.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Unfurnished,2.0,1 Covered,East,Main Road,New Property,20 of 34 Floor,Apartment,Thane,2,Agent,34.0,Water Availability 24 Hours Available,F,579,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,New Construction,NaN,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
1,12683,Ready to Move,NaN,18,N,Sai Satyam Developers,KDMC,0.0,5400000.0,54 Lac,Vitrified,No/Rare Powercut,Monthly,1200.0,100000.0,This property has reputed scholl ints vicinity.,850.0,Sai Satyam Homes,6352.0,585.0,Kalyan West,East Facing Property,Sq-ft,Y,Freehold,Unfurnished,2.0,1 Open,East,"Garden/Park, Main Road",New Property,18 of 18 Floor,Apartment,Thane,2,Agent,18.0,Water Availability 24 Hours Available,F,850,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,New Construction,NaN,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,Y,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
2,12682,Under Construction,Dec '25,5,N,Birla Estates,KDMC,70.0,9000000.0,90 Lac,Vitrified,No/Rare Powercut,Monthly,3200.0,100000.0,Shahad is one of the attractive locations to o...,1050.0,Birla Vanya,8571.0,815.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Unfurnished,2.0,"1 Covered, 1 Open",East,"Pool, Garden/Park, Main Road",New Property,5 of 27 Floor,Apartment,Thane,2,Agent,27.0,Water Availability 24 Hours Available,F,1050,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,NaN,3.0,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
3,12681,Under Construction,Dec '24,8,Y,Godrej Properties,NaN,NaN,4950000.0,49.5 Lac,NaN,NaN,NaN,NaN,500000.0,majiwada metro station,561.0,Godrej Nirvaan,8824.0,419.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Semi-Furnished,2.0,NaN,East,Garden/Park,New Property,8 of 26 Floor,Apartment,Thane,1,Agent,26.0,NaN,F,561,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",1 BHK Flat,Sq-ft,0,NaN,NaN,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"
4,12680,Under Construction,Mar '23,16,N,Tycoons Group,ABAAut,2.0,6570000.0,65.7 Lac,Vitrified,No/Rare Powercut,Monthly,2.0,50000.0,"Close to tree house school, Dmart, KDMC garden...",1067.0,Tycoons Solitaire Sapphire,6157.0,667.0,Kalyan West,NaN,Sq-ft,Y,Freehold,Unfurnished,2.0,1 Covered,North - East,"Garden/Park, Main Road",New Property,16 of 18 Floor,Apartment,Thane,2,Agent,18.0,Water Availability 24 Hours Available,F,1067,Sq-ft,Y,Bachelors/Family,"Kalyan West, Thane",2 BHK Flat,Sq-ft,0,NaN,1.0,Y,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",True,"Variant_2: Kalyan West, Thane, Maharashtra, India"

In [4]:
# Check shape
df.shape

(8154, 150)

In [5]:
# Print column names
for column in df.columns:
    print(column)

ID
Possession Status
Availability Starts From
Floor No
Commercial
Developer
Approved Authority Name
Units Available
Price
Price (English)
Flooring Type
Electricity Status
Maintenance Type
Maintenance Charges
Booking Amount
Landmark
Covered Area
Project Name
sqft Price
Carpet Area
Area Name
Property Uniqueness
Unit of Carpet Area
Society
Ownership Type
furnished Type
Bathroom
Parking
Facing
Amenities Facing
Transaction Type
Floor Data
Type of Property
City
bedroom
Data Referred From
floors
Water Status
Luxury Flat
Covered Area.1
Carpet Area Unit
isPrimeLocationProperty
Tenants Preference
Location
Property
covArea Unit
isLuxuryServiceProvided
Property Lifespan
balconies
Rera
Power Back Up
Lift
Rain Water Harvesting
Club House
Swimming Pool
Gymnasium
Park
Parking.1
Security
Water Storage
Private Terrace/Garden
Vaastu Compliant
Service/Goods Lift
Air Conditioned
Visitor Parking
Intercom Facility
Maintenance Staff
Waste Disposal
Laundry Service
Internet/Wi-Fi Connectivity
DTH Television Facility
RO Water System
Banquet Hall
Bar/Lounge
Cafeteria/Food Court
Conference Room
Piped Gas
Jogging and Strolling Track
Outdoor Tennis Courts
Mansion
Downtown
Skyline View
Wrap Around Balcony
Island Kitchen Layout
Full Glass Wall
House help accommodation
Concierge Services
Garden View
Marble flooring
Well Furnished
Modular Kitchen
Helipad
Private pool
Private Jaccuzi
Mini Cinema Theatre
Golf Course
Infinity Swimming Pool
Pool with temperature control
Sea facing
Skydeck
Earth quake resistant
Theme based Architectures
Health club with Steam / Jaccuzi
Large Clubhouse
Large Open space
Fingerprint Access
Grand Entrance lobby
Private Garage
Fireplace
Wine Cellar
Sky Villa
Water Front
Hilltop
Smart Home
Barbeque space
Kids play area
Library
Puja Room
Study
Servant Room
Store
Aerobics Room
Canopy Walk
Coffee Lounge & Restaurants
Dance Studio
Event Space & Amphitheatre
Flower Gardens
Guest Accommodation
Indoor Squash & Badminton Courts
Kids Play Area
Kids Play Pool With Water Slides
Library And Business Centre
Meditation Area
Multipurpose Courts
Recreational Pool
Rentable CommuniPfty Space
Retail Boulevard (Retail Shops)
Cycling & Jogging Track
Fire Fighting Equipment
Aesthetically designed landscape garden
Possession By
NRI Pref
Land Area / Covered Area
Land Area Unit
Pantry Type
latitude
longitude
geocoded_address
geocoding_success
address_variant_used

In [6]:
# Format column names
df.columns = df.columns.str.strip()

In [7]:
# Drop the not required columns
df = df.drop(columns=[
    'ID',
    'Price (English)',
    'Ownership Type',
    'Possession By',
    'isLuxuryServiceProvided',
    'Approved Authority Name',
    'Rera',
    'Location',
    'Units Available',
    'Property',
    'Property Uniqueness',
    'Tenants Preference',
    'Amenities Facing',
    'Covered Area.1',
    'Booking Amount',
    'Land Area Unit',
    'Land Area / Covered Area',
    'geocoding_success',
    'address_variant_used',
    'Land Area / Covered Area',
    'Maintenance Type',
    'Maintenance Charges',
    'Pantry Type',
    'Society',
    'Electricity Status',
    'Luxury Flat',
    'Water Status',
    'NRI Pref',
    'Parking',
    'Carpet Area Unit',
    'Floor Data',
    'Flooring Type',
    'Pantry Type'
])

In [8]:
# Check updated shape
df.shape

(8154, 119)

# <b>Data Assesment</b>

In [9]:
pd.set_option('display.max_columns', None)
df.head(2)

,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price,Landmark,Covered Area,Project Name,sqft Price,Carpet Area,Area Name,Unit of Carpet Area,furnished Type,Bathroom,Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,covArea Unit,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
0,Ready to Move,NaN,20,Y,TATA Housing Development Company Ltd.,6300000.0,Rajoli naka,579.0,Tata Amantra,10880.0,579.0,Kalyan West,Sq-ft,Unfurnished,2.0,East,New Property,Apartment,Thane,2,Agent,34.0,Y,Sq-ft,New Construction,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T..."
1,Ready to Move,NaN,18,N,Sai Satyam Developers,5400000.0,This property has reputed scholl ints vicinity.,850.0,Sai Satyam Homes,6352.0,585.0,Kalyan West,Sq-ft,Unfurnished,2.0,East,New Property,Apartment,Thane,2,Agent,18.0,Y,Sq-ft,New Construction,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T..."

In [10]:
# Check duplicate entries
df.drop(columns=['latitude', 'longitude', 'geocoded_address']).duplicated().sum()

np.int64(1832)

In [11]:
# Unique entries IDs
idx = df.drop(columns=['latitude', 'longitude', 'geocoded_address']).drop_duplicates(keep='first').index

# Construct unique properties dataframe
df = df.iloc[idx]

# Reset index
df.reset_index(inplace=True, drop=True)

In [12]:
# Check shape
df.shape

(6322, 119)

In [ ]:
# Info
pd.set_option('display.max_info_columns', 200)
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6322 entries, 0 to 6321
Data columns (total 119 columns):
 #    Column                                   Non-Null Count  Dtype
---   ------                                   --------------  -----
 0    Possession Status                        6276 non-null   object
 1    Availability Starts From                 1874 non-null   object
 2    Floor No                                 5921 non-null   object
 3    Commercial                               6322 non-null   object
 4    Developer                                5420 non-null   object
 5    Price                                    6271 non-null   float64
 6    Landmark                                 4101 non-null   object
 7    Covered Area                             5665 non-null   float64
 8    Project Name                             6322 non-null   object
 9    sqft Price                               5704 non-null   float64
 10   Carpet Area                              5191 non-null   float64
 11   Area Name                                6322 non-null   object
 12   Unit of Carpet Area                      5666 non-null   object
 13   furnished Type                           6271 non-null   object
 14   Bathroom                                 6279 non-null   float64
 15   Facing                                   4640 non-null   object
 16   Transaction Type                         6322 non-null   object
 17   Type of Property                         6322 non-null   object
 18   City                                     6322 non-null   object
 19   bedroom                                  6322 non-null   int64
 20   Data Referred From                       6322 non-null   object
 21   floors                                   5916 non-null   float64
 22   isPrimeLocationProperty                  6322 non-null   object
 23   covArea Unit                             5666 non-null   object
 24   Property Lifespan                        3623 non-null   object
 25   balconies                                2968 non-null   float64
 26   Power Back Up                            6322 non-null   int64
 27   Lift                                     6322 non-null   int64
 28   Rain Water Harvesting                    6322 non-null   int64
 29   Club House                               6322 non-null   int64
 30   Swimming Pool                            6322 non-null   int64
 31   Gymnasium                                6322 non-null   int64
 32   Park                                     6322 non-null   int64
 33   Parking.1                                6322 non-null   int64
 34   Security                                 6322 non-null   int64
 35   Water Storage                            6322 non-null   int64
 36   Private Terrace/Garden                   6322 non-null   int64
 37   Vaastu Compliant                         6322 non-null   int64
 38   Service/Goods Lift                       6322 non-null   int64
 39   Air Conditioned                          6322 non-null   int64
 40   Visitor Parking                          6322 non-null   int64
 41   Intercom Facility                        6322 non-null   int64
 42   Maintenance Staff                        6322 non-null   int64
 43   Waste Disposal                           6322 non-null   int64
 44   Laundry Service                          6322 non-null   int64
 45   Internet/Wi-Fi Connectivity              6322 non-null   int64
 46   DTH Television Facility                  6322 non-null   int64
 47   RO Water System                          6322 non-null   int64
 48   Banquet Hall                             6322 non-null   int64
 49   Bar/Lounge                               6322 non-null   int64
 50   Cafeteria/Food Court                     6322 non-null   int64
 51   Conference Room                          6322 non-null   int64
 52   Piped Gas                                6322 non-null   int64
 53   Jogging and Strolling Track              6322 non-null   int64
 54   Outdoor Tennis Courts                    6322 non-null   int64
 55   Mansion                                  6322 non-null   int64
 56   Downtown                                 6322 non-null   int64
 57   Skyline View                             6322 non-null   int64
 58   Wrap Around Balcony                      6322 non-null   int64
 59   Island Kitchen Layout                    6322 non-null   int64
 60   Full Glass Wall                          6322 non-null   int64
 61   House help accommodation                 6322 non-null   int64
 62   Concierge Services                       6322 non-null   int64
 63   Garden View                              6322 non-null   int64
 64   Marble flooring                          6322 non-null   int64
 65   Well Furnished                           6322 non-null   int64
 66   Modular Kitchen                          6322 non-null   int64
 67   Helipad                                  6322 non-null   int64
 68   Private pool                             6322 non-null   int64
 69   Private Jaccuzi                          6322 non-null   int64
 70   Mini Cinema Theatre                      6322 non-null   int64
 71   Golf Course                              6322 non-null   int64
 72   Infinity Swimming Pool                   6322 non-null   int64
 73   Pool with temperature control            6322 non-null   int64
 74   Sea facing                               6322 non-null   int64
 75   Skydeck                                  6322 non-null   int64
 76   Earth quake resistant                    6322 non-null   int64
 77   Theme based Architectures                6322 non-null   int64
 78   Health club with Steam / Jaccuzi         6322 non-null   int64
 79   Large Clubhouse                          6322 non-null   int64
 80   Large Open space                         6322 non-null   int64
 81   Fingerprint Access                       6322 non-null   int64
 82   Grand Entrance lobby                     6322 non-null   int64
 83   Private Garage                           6322 non-null   int64
 84   Fireplace                                6322 non-null   int64
 85   Wine Cellar                              6322 non-null   int64
 86   Sky Villa                                6322 non-null   int64
 87   Water Front                              6322 non-null   int64
 88   Hilltop                                  6322 non-null   int64
 89   Smart Home                               6322 non-null   int64
 90   Barbeque space                           6322 non-null   int64
 91   Kids play area                           6322 non-null   int64
 92   Library                                  6322 non-null   int64
 93   Puja Room                                6322 non-null   int64
 94   Study                                    6322 non-null   int64
 95   Servant Room                             6322 non-null   int64
 96   Store                                    6322 non-null   int64
 97   Aerobics Room                            6322 non-null   int64
 98   Canopy Walk                              6322 non-null   int64
 99   Coffee Lounge & Restaurants              6322 non-null   int64
 100  Dance Studio                             6322 non-null   int64
 101  Event Space & Amphitheatre               6322 non-null   int64
 102  Flower Gardens                           6322 non-null   int64
 103  Guest Accommodation                      6322 non-null   int64
 104  Indoor Squash & Badminton Courts         6322 non-null   int64
 105  Kids Play Area                           6322 non-null   int64
 106  Kids Play Pool With Water Slides         6322 non-null   int64
 107  Library And Business Centre              6322 non-null   int64
 108  Meditation Area                          6322 non-null   int64
 109  Multipurpose Courts                      6322 non-null   int64
 110  Recreational Pool                        6322 non-null   int64
 111  Rentable CommuniPfty Space               6322 non-null   int64
 112  Retail Boulevard (Retail Shops)          6322 non-null   int64
 113  Cycling & Jogging Track                  6322 non-null   int64
 114  Fire Fighting Equipment                  6322 non-null   int64
 115  Aesthetically designed landscape garden  6322 non-null   int64
 116  latitude                                 6322 non-null   float64
 117  longitude                                6322 non-null   float64
 118  geocoded_address                         6322 non-null   object
dtypes: float64(9), int64(91), object(19)
memory usage: 5.7+ MB

-------------

#### Column assesment: Possession Status

In [14]:
# Format values
df['Possession Status'] = df['Possession Status'].str.strip()

# Count unique values
df['Possession Status'].value_counts()

Possession Status
Ready to Move         4512
Under Construction    1612
Dec '26                 28
Dec '24                 21
Dec '25                 20
Dec '23                 17
Jun '24                 13
Jun '26                 12
Dec '28                  8
Dec '27                  8
Mar '25                  4
Sep '26                  3
Mar '24                  3
Immediately              3
Nov '25                  2
Sep '23                  2
Apr '28                  2
Jun '25                  2
Apr '24                  2
Nov '23                  1
Select Date              1
Name: count, dtype: int64

In [15]:
# Format
df['Possession Status'] = df['Possession Status'].str.replace(" '", " ")

In [16]:
# Replace past dates with 'Ready to move' status
df['Possession Status'].replace({'Immediately': 'Ready to Move', 
                                 'Dec 24': 'Ready to Move', 
                                 'Dec 23': 'Ready to Move', 
                                 'Jun 24': 'Ready to Move', 
                                 'Mar 25': 'Ready to Move',
                                 'Mar 24': 'Ready to Move',
                                 'Sep 23': 'Ready to Move',
                                 'Jun 25': 'Ready to Move',
                                 'Apr 24': 'Ready to Move',
                                 'Nov 23': 'Ready to Move'
                                 }, inplace=True)

In [17]:
# Updated value counts
df['Possession Status'].value_counts()

Possession Status
Ready to Move         4580
Under Construction    1612
Dec 26                  28
Dec 25                  20
Jun 26                  12
Dec 27                   8
Dec 28                   8
Sep 26                   3
Nov 25                   2
Apr 28                   2
Select Date              1
Name: count, dtype: int64

In [18]:
# Drop row having 'Select Date' Possesion status
index_to_drop = df[df['Possession Status'] == 'Select Date'].index
df.drop(index=index_to_drop, inplace=True)

# Check updated shape
df.shape

(6321, 119)

In [19]:
# Check missing values
df['Possession Status'].isna().sum()

np.int64(46)

----------

#### Column assesment: Availability Starts From

In [20]:
# Format values
df['Availability Starts From'] = df['Availability Starts From'].str.strip()

In [21]:
# 'Ready to Move' properties indexes
ready_to_move_indexes = df[df['Possession Status'] == 'Ready to Move'].index

# Set 'Availability Starts From' to 'Immediately' where Possesion status is 'Ready to Move'
df.loc[ready_to_move_indexes, 'Availability Starts From'] = 'Immediately'

In [22]:
# Count unique values
df['Availability Starts From'].value_counts()

Availability Starts From
Immediately    4580
Dec '25         300
Dec '24         282
Dec '23         219
Dec '26         141
Jun '23          66
Mar '23          59
Jun '24          55
Jun '25          54
Jun '26          39
Mar '25          39
Mar '24          33
Apr '23          26
Sep '23          22
Dec '27          18
Sep '25          17
May '25          16
Jul '25          15
Dec '28          15
Mar '26          14
Oct '23          14
Aug '23          13
Jul '24          10
Nov '23          10
Oct '25           9
Nov '24           9
May '23           9
May '24           9
Jan '24           6
Nov '25           6
Jun '27           6
Jul '23           5
Apr '24           5
Jan '26           5
Oct '26           5
Oct '24           5
Aug '25           4
Sep '24           4
Jan '25           4
Aug '24           4
Sep '26           4
Feb '25           3
Mar '28           3
Apr '25           3
Nov '26           2
Feb '24           2
Jan '27           2
Apr '26           2
Jun '28           2
Dec '22           2
May '26           2
Feb '26           1
Mar '27           1
Apr '27           1
Dec '29           1
Name: count, dtype: int64

In [23]:
# Format values
df['Availability Starts From'] = df['Availability Starts From'].str.replace(" '", " ")

# Update past dates to 'Immediately'
df['Availability Starts From'].replace({ 
                                 'Dec 22': 'Immediately',

                                 'Mar 23': 'Immediately',
                                 'Apr 23': 'Immediately',
                                 'May 23': 'Immediately',
                                 'Jun 23': 'Immediately',
                                 'Jul 23': 'Immediately',
                                 'Aug 23': 'Immediately',
                                 'Sep 23': 'Immediately',
                                 'Oct 23': 'Immediately',
                                 'Nov 23': 'Immediately',
                                 'Dec 23': 'Immediately',

                                 'Jan 24': 'Immediately',
                                 'Feb 24': 'Immediately',
                                 'Mar 24': 'Immediately',
                                 'Apr 24': 'Immediately',
                                 'May 24': 'Immediately',
                                 'Jun 24': 'Immediately',
                                 'Jul 24': 'Immediately',
                                 'Aug 24': 'Immediately',
                                 'Sep 24': 'Immediately',
                                 'Oct 24': 'Immediately',
                                 'Nov 24': 'Immediately',
                                 'Dec 24': 'Immediately',

                                 'Jan 25': 'Immediately',
                                 'Feb 25': 'Immediately',
                                 'Mar 25': 'Immediately',
                                 'Apr 25': 'Immediately',
                                 'May 25': 'Immediately',
                                 'Jun 25': 'Immediately',
                                 'Jul 25': 'Immediately'
                                 }, inplace=True)

In [24]:
# Update 'Possesion Status' of properties to 'Ready to Move' where 'Availability Starts From' is 'Immediately'
immediate_availability_indexes = df[df['Availability Starts From'] == 'Immediately'].index
df.loc[immediate_availability_indexes, 'Possession Status'] = 'Ready to Move'

In [25]:
# Get properties where date is provided for Possesion status
possesion_status_date_provided_indexes = df[~((df['Possession Status'] == 'Ready to Move') | (df['Possession Status'] == 'Under Construction') | (df['Possession Status'].isna()))].index

# Copy these dates to 'Availability Starts From'
df.loc[possesion_status_date_provided_indexes, 'Availability Starts From'] = df.loc[possesion_status_date_provided_indexes, 'Possession Status']

In [26]:
# Replace future dates in 'Possesion Status' with 'Under Construction'
idx = df[(df['Possession Status'] != 'Ready to Move') & (df['Possession Status'] != 'Under Construction') & (df['Possession Status'].notna())].index
df.loc[idx, 'Possession Status'] = 'Under Construction'

In [27]:
# Replace NaN values in 'Possession Status' and 'Availability Starts From' with 'Not Available, Contact Developer'
df['Possession Status'].fillna('Not Available, Contact Developer', inplace=True)
df['Availability Starts From'].fillna('Not Available, Contact Developer', inplace=True)

In [28]:
# Check missing values in 'Possesion status' and 'Availability starts from' features
print('Missing values in Possesion status: ', df['Possession Status'].isna().sum())
print('Missing values in Availability Starts From: ', df['Availability Starts From'].isna().sum())

Missing values in Possesion status:  0
Missing values in Availability Starts From:  0

In [29]:
# Check shape
df.shape

(6321, 119)

--------------

#### Column assesment: Floor No

In [30]:
# Format
df['Floor No'] = df['Floor No'].str.strip()

In [31]:
# Count frequency of each unique value
freq_df = df['Floor No'].value_counts().reset_index()
freq_df.columns = ['Value', 'Frequency']

fig = px.bar(freq_df, x='Value', y='Frequency', title='Frequency Plot of Floor No')
fig.show()

In [32]:
# Convert Ground, Upper Basement, Lower Basement into numbers
df['Floor No'].replace({'Ground': '0', 'Upper Basement': '-1', 'Lower Basement': '-2'}, inplace=True)

In [33]:
# Convert to Numeric
df['Floor No'] = pd.to_numeric(df['Floor No'], errors='coerce')

In [34]:
# Check missing values
df['Floor No'].isna().sum()

np.int64(401)

In [35]:
# Check shape
df.shape

(6321, 119)

----------------

#### Column assesment: Commercial

In [36]:
# Format
df['Commercial'] = df['Commercial'].str.capitalize().str.strip()

In [37]:
# Count unique values
df['Commercial'].value_counts()

Commercial
N    5243
Y    1078
Name: count, dtype: int64

In [38]:
# Check missing values
df['Commercial'].isna().sum()

np.int64(0)

In [39]:
# Check shape
df.shape

(6321, 119)

-------------

#### Column assesment: Developer

In [40]:
# Format
df['Developer'] = df['Developer'].str.title().str.strip()

In [41]:
# Count unique values
df['Developer'].value_counts()

Developer
Lodha                         439
Rustomjee                     140
Kalpataru Ltd.                113
Bombay Realty                 112
Runwal Developers             105
                             ...
Pnk Group                       1
Ritu Developer                  1
Sanghvi Group Of Companies      1
R V Constructions               1
Kakad Realty                    1
Name: count, Length: 937, dtype: int64

In [42]:
# Check missing values
df['Developer'].isna().sum()

np.int64(901)

In [43]:
# Check shape
df.shape

(6321, 119)

-----------

#### Column assesment: Price

In [44]:
# Convert prices into Crores
df['Price'] = df['Price']/10000000

# Rename column
df.rename(columns={'Price': 'Price (Crores)'}, inplace=True)

In [45]:
# Check missing values
df['Price (Crores)'].isna().sum()

np.int64(50)

In [46]:
# Check shape
df.shape

(6321, 119)

---------------

#### Column assesment: Landmark

In [47]:
df['Landmark'] = df['Landmark'].str.capitalize().str.strip()

In [48]:
# Check missing values
df['Landmark'].isna().sum()

np.int64(2220)

In [49]:
# Check shape
df.shape

(6321, 119)

--------------------

#### Column assesment: Covered Area, covArea Unit

In [50]:
# Check missing values in 'Covered Area'
df['Covered Area'].isna().sum()

np.int64(657)

In [51]:
# Rename 'covArea Unit' to 'Unit of Covered Area'
df.rename(columns={'covArea Unit': 'Unit of Covered Area'}, inplace=True)

# Missing values in 'Unit of Covered Area'
df['Unit of Covered Area'].isna().sum()

np.int64(656)

In [52]:
# Count unique values in 'Unit of Covered Area'
df['Unit of Covered Area'].value_counts()

Unit of Covered Area
Sq-ft    5657
Sq-m        6
Bigha       1
Acre        1
Name: count, dtype: int64

In [53]:
# Show properties having Covered area units in Sq-m or Bigha or Acre
df[(df['Unit of Covered Area'] == 'Sq-m') | (df['Unit of Covered Area'] == 'Bigha') | (df['Unit of Covered Area'] == 'Acre')]

,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Landmark,Covered Area,Project Name,sqft Price,Carpet Area,Area Name,Unit of Carpet Area,furnished Type,Bathroom,Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
360,Ready to Move,Immediately,1.0,Y,Satellite Builders Pvt. Ltd.,1.350,NaN,560.0,Satellite Classic,1.0,415.0,Jogeshwari East,Bigha,Unfurnished,2.0,South,Resale,Apartment,Mumbai,1,Owner,7.0,N,Bigha,15 to 20 years,NaN,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.142945,72.855185,"Jogeshwari (East), Western Express Highway, P/..."
1132,Ready to Move,Immediately,4.0,Y,NaN,0.320,NaN,630.0,Virar Bolinj Shakti,0.0,600.0,Virar West,Acre,Unfurnished,2.0,NaN,Resale,Apartment,Mumbai,2,Owner,4.0,N,Acre,5 to 10 years,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
1199,Ready to Move,Immediately,12.0,N,Vinay Unique Group,0.340,Near dmart,36.0,Vinay Unique Corner,8774.0,NaN,Virar West,Sq-m,Semi-Furnished,2.0,East,Resale,Apartment,Mumbai,1,Owner,14.0,N,Sq-m,Less than 5 years,2.0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
1666,Ready to Move,Immediately,15.0,N,Godrej Properties,NaN,NaN,50.0,Godrej Emerald,NaN,45.0,Bhayandarpada,Sq-m,Unfurnished,2.0,NaN,Resale,Apartment,Thane,2,Owner,25.0,N,Sq-m,New Construction,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.194329,72.970178,"Thane, Thane Taluka, Thane, Maharashtra, India"
3156,Ready to Move,Immediately,2.0,N,NaN,1.250,NaN,64.0,The Ascent Apartment B,18145.0,484.0,Santacruz East,Sq-m,Unfurnished,2.0,North,Resale,Apartment,Mumbai,1,Owner,7.0,N,Sq-m,10 to 15 years,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.078180,72.867775,"Mary Immaculate Girls' High School, church roa..."
5142,Under Construction,"Not Available, Contact Developer",17.0,Y,Uk Realty,0.678,NaN,35.0,UK Iridium,17996.0,NaN,Kandivali East,Sq-m,Unfurnished,2.0,NaN,New Property,Apartment,Mumbai,1,Builder,33.0,Y,Sq-m,NaN,NaN,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.205196,72.862617,"Kandivali East, R/S Ward, Zone 4, Mumbai Subur..."
5614,Ready to Move,Immediately,1.0,N,NaN,0.300,Ycce college within 150mtr.,50.0,Suyash Apartment,60000.0,750.0,Andheri West,Sq-m,Unfurnished,2.0,East,Resale,Apartment,Nagpur,2,Owner,4.0,Y,Sq-m,5 to 10 years,2.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.117249,72.833968,"Andheri West, K/W Ward, Zone 3, Mumbai Suburba..."
6038,Ready to Move,Immediately,9.0,N,Deepak Developers,1.400,NaN,35.0,Deepak Daffodils,37160.0,NaN,Andheri East,Sq-m,Unfurnished,1.0,NaN,Resale,Apartment,Mumbai,1,Owner,11.0,N,Sq-m,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.115883,72.854202,"Andheri East, K/E Ward, Zone 3, Mumbai Suburba..."

In [54]:
# Data Correction
df.loc[360, 'Unit of Covered Area'] = 'Sq-ft'
df.loc[1132, 'Unit of Covered Area'] = 'Sq-ft'

df.loc[[1199, 1666, 3156, 5142, 5614, 6038], 'Covered Area'] = df.loc[[1199, 1666, 3156, 5142, 5614, 6038], 'Covered Area'] * 10.7639
df.loc[[1199, 1666, 3156, 5142, 5614, 6038], 'Unit of Covered Area'] = 'Sq-ft'

In [55]:
# Check shape
df.shape

(6321, 119)

----------------

#### Column assesment: Project Name

In [56]:
# Rename
df.rename(columns={'Project Name': 'Society'}, inplace=True)

In [57]:
# Format
df['Society'] = df['Society'].str.title().str.strip()

In [58]:
# Count unique values
df['Society'].value_counts()

Society
Lodha Amara                  77
Rustomjee Crown              56
Kalpataru Vivant             52
Bombay Dyeing Two Icc        51
Island City Center           36
                             ..
Mahindra Happinest Kalyan     1
Shirin Apartment              1
Green Fields                  1
Mahakali Chs                  1
Crystal Enclave               1
Name: count, Length: 2334, dtype: int64

In [59]:
# Check missing values
df['Society'].isna().sum()

np.int64(0)

In [60]:
# Drop 2 societies named Sion East (Invalid Society name caught manually)
idx = df[df['Society'] == 'Sion East'].index

# Drop permanently
df.drop(index=idx, inplace=True)

In [61]:
# Check shape
df.shape

(6319, 119)

---------------

#### Column assesment: sqft Price

In [62]:
# Rename column
df.rename(columns={'sqft Price': 'sqft Price (INR)'}, inplace=True)

In [63]:
# Inaccurate entries where 'sqft Price' is not matching with Price/Covered_area value
idx = df[abs(((df['Price (Crores)'] / df['Covered Area']) * 10000000).round() - df['sqft Price (INR)']) > 1][['Price (Crores)', 'Covered Area', 'sqft Price (INR)']].index

# Data Correction
df.loc[idx, 'sqft Price (INR)'] = ((df.loc[idx, 'Price (Crores)'] * 10000000) / df.loc[idx, 'Covered Area']).round()

print('Number of listings corrected: ', len(idx))

Number of listings corrected:  208

In [64]:
# Check missing values
df['sqft Price (INR)'].isna().sum()

np.int64(617)

In [65]:
# Check shape
df.shape

(6319, 119)

---------------

#### Column assesment: Carpet Area, Unit of Carpet Area

In [66]:
# Check missing values
df['Carpet Area'].isna().sum()

np.int64(1130)

In [67]:
# Inaccurate entries: Properties having Carpet area greater than the Covered area
df_sub = df[df['Carpet Area'] > df['Covered Area']]
print('Properties having Carpet area greater than the Covered area: ', len(df_sub))

Properties having Carpet area greater than the Covered area:  43

In [68]:
# Draw 5 random samples
df_sub[['Covered Area', 'Unit of Covered Area', 'Carpet Area', 'Unit of Carpet Area', 'bedroom']].sample(10)

,Covered Area,Unit of Covered Area,Carpet Area,Unit of Carpet Area,bedroom
4859,990.0,Sq-ft,1300.0,Sq-ft,3
1775,475.0,Sq-ft,1500.0,Sq-ft,1
4489,560.0,Sq-ft,650.0,Sq-ft,1
4131,300.0,Sq-ft,350.0,Sq-ft,1
5681,480.0,Sq-ft,580.0,Sq-ft,2
3526,540.0,Sq-ft,555.0,Sq-ft,1
3892,700.0,Sq-ft,920.0,Sq-ft,2
2194,910.0,Sq-ft,1200.0,Sq-ft,3
4705,1540.0,Sq-ft,2500.0,Sq-ft,3
6110,870.0,Sq-ft,950.0,Sq-ft,2

##### Observation: 
This appears to be a data entry error. The Covered area and Carpet area seems to have been accidently swapped for these 43 properties.

In [69]:
# Data Correction: Swap the values
original_covered_area = df_sub['Covered Area']
df_sub['Covered Area'] = df_sub['Carpet Area']
df_sub['Carpet Area'] = original_covered_area

In [70]:
# Update the original dataframe
df.update(df_sub)

In [71]:
# Count unique values in 'Unit of Carpet Area'
df['Unit of Carpet Area'].value_counts()

Unit of Carpet Area
Sq-ft    5655
Sq-m        6
Bigha       1
Acre        1
Name: count, dtype: int64

In [72]:
# Properties having Carpet area units in Sq-m or Bigha or Acre
df_sub = df[(df['Unit of Carpet Area'] == 'Sq-m') | (df['Unit of Carpet Area'] == 'Bigha') | (df['Unit of Carpet Area'] == 'Acre')]
df_sub

,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Landmark,Covered Area,Society,sqft Price (INR),Carpet Area,Area Name,Unit of Carpet Area,furnished Type,Bathroom,Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address
360,Ready to Move,Immediately,1.0,Y,Satellite Builders Pvt. Ltd.,1.350,NaN,560.0000,Satellite Classic,24107.0,415.000,Jogeshwari East,Bigha,Unfurnished,2.0,South,Resale,Apartment,Mumbai,1,Owner,7.0,N,Sq-ft,15 to 20 years,NaN,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.142945,72.855185,"Jogeshwari (East), Western Express Highway, P/..."
1132,Ready to Move,Immediately,4.0,Y,NaN,0.320,NaN,630.0000,Virar Bolinj Shakti,5079.0,600.000,Virar West,Acre,Unfurnished,2.0,NaN,Resale,Apartment,Mumbai,2,Owner,4.0,N,Sq-ft,5 to 10 years,NaN,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
1199,Ready to Move,Immediately,12.0,N,Vinay Unique Group,0.340,Near dmart,387.5004,Vinay Unique Corner,8774.0,NaN,Virar West,Sq-m,Semi-Furnished,2.0,East,Resale,Apartment,Mumbai,1,Owner,14.0,N,Sq-ft,Less than 5 years,2.0,0,1,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.054999,72.869203,"Mumbai Suburban, Maharashtra, India"
1666,Ready to Move,Immediately,15.0,N,Godrej Properties,NaN,NaN,538.1950,Godrej Emerald,NaN,45.000,Bhayandarpada,Sq-m,Unfurnished,2.0,NaN,Resale,Apartment,Thane,2,Owner,25.0,N,Sq-ft,New Construction,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.194329,72.970178,"Thane, Thane Taluka, Thane, Maharashtra, India"
3156,Ready to Move,Immediately,2.0,N,NaN,1.250,NaN,688.8896,The Ascent Apartment B,18145.0,484.000,Santacruz East,Sq-m,Unfurnished,2.0,North,Resale,Apartment,Mumbai,1,Owner,7.0,N,Sq-ft,10 to 15 years,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.078180,72.867775,"Mary Immaculate Girls' High School, church roa..."
5142,Under Construction,"Not Available, Contact Developer",17.0,Y,Uk Realty,0.678,NaN,376.7365,Uk Iridium,17996.0,NaN,Kandivali East,Sq-m,Unfurnished,2.0,NaN,New Property,Apartment,Mumbai,1,Builder,33.0,Y,Sq-ft,NaN,NaN,1,0,1,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.205196,72.862617,"Kandivali East, R/S Ward, Zone 4, Mumbai Subur..."
5614,Ready to Move,Immediately,1.0,N,NaN,0.300,Ycce college within 150mtr.,750.0000,Suyash Apartment,5574.0,538.195,Andheri West,Sq-m,Unfurnished,2.0,East,Resale,Apartment,Nagpur,2,Owner,4.0,Y,Sq-ft,5 to 10 years,2.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.117249,72.833968,"Andheri West, K/W Ward, Zone 3, Mumbai Suburba..."
6038,Ready to Move,Immediately,9.0,N,Deepak Developers,1.400,NaN,376.7365,Deepak Daffodils,37160.0,NaN,Andheri East,Sq-m,Unfurnished,1.0,NaN,Resale,Apartment,Mumbai,1,Owner,11.0,N,Sq-ft,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.115883,72.854202,"Andheri East, K/E Ward, Zone 3, Mumbai Suburba..."

In [73]:
# Update 'Unit of Carpet area' to 'Sq-ft'
df_sub['Unit of Carpet Area'] = 'Sq-ft'

# Update the original dataframe
df.update(df_sub)

In [74]:
# Check missing values in 'Unit of Carpet Area'
df['Unit of Carpet Area'].isna().sum()

np.int64(656)

In [75]:
# Check shape
df.shape

(6319, 119)

--------------

#### Column assesment: Area Name

In [76]:
# Rename column
df.rename(columns={'Area Name': 'Area'}, inplace=True)

In [77]:
# Format
df['Area'] = df['Area'].str.title().str.strip()

In [78]:
# Count unique values
df['Area'].value_counts()

Area
Dombivli East       388
Andheri West        340
Andheri East        283
Goregaon East       241
Kandivali West      233
                   ...
Azad Nagar Jjc        1
Parsi Wada            1
Mogra Village         1
Maheshwari Nagar      1
Marol Maroshi         1
Name: count, Length: 272, dtype: int64

In [79]:
# Study City-Society-Area together
df_society_area = df.groupby(['City', 'Society', 'Area']).size().reset_index(name='Number of Listings')
df_society_area.head(10)

,City,Society,Area,Number of Listings
0,Bhiwandi,Sanjivani Complex,Thane West,1
1,Hyderabad,Orchid Residency,Venkatapuram-Balapuram,1
2,Mumbai,10 Central Avenue,Santacruz West,1
3,Mumbai,111 Hyde Park,Malad East,1
4,Mumbai,127 Raj Home,Mahajan Wadi,3
5,Mumbai,127 Raj Home,Mira Road East,3
6,Mumbai,127 Raj Home,Penkarpada,11
7,Mumbai,19 North,Kandivali West,1
8,Mumbai,19 North,Mahatama Gandhi Road Amrut Nagar,1
9,Mumbai,25 South,Century Bazaar,1

For multiple societies same area is depicted at different granular level in same city e.g. Property listings in 127 Raj Home society Mumbai appears in multiple rows with different granular areas of same area.

In [80]:
# Construct dataframe for societies which are depicting different areas at different granular level
df_societies_with_diff_granular_areas = df_society_area[df_society_area[['City', 'Society']].duplicated(keep=False)]
df_societies_with_diff_granular_areas

,City,Society,Area,Number of Listings
4,Mumbai,127 Raj Home,Mahajan Wadi,3
5,Mumbai,127 Raj Home,Mira Road East,3
6,Mumbai,127 Raj Home,Penkarpada,11
7,Mumbai,19 North,Kandivali West,1
8,Mumbai,19 North,Mahatama Gandhi Road Amrut Nagar,1
...,...,...,...,...
2824,Thane,Vihang Vermont,Thane West,1
2835,Thane,Vrindavan Complex,Majiwada,2
2836,Thane,Vrindavan Complex,Vrindavan Society,1
2841,Thane,Wadhwa Mahek Residency,Kalyan East,1
2842,Thane,Wadhwa Mahek Residency,Nandivali Gaon,1

In [81]:
# Export to excel for analysis and correction 
df_societies_with_diff_granular_areas.to_excel('Output Files//societies_with_diff_granular_areas.xlsx', index=False)

In [82]:
# Load manually processed societies_with_diff_granular_areas.xlsx file
df_societies_areas = pd.read_excel("Output Files//manually_processed_societies_with_diff_granular_areas.xlsx")
df_societies_areas.sample(5)

              Society    Area_Broader    City
96    Godrej Tranquil  Kandivali East  Mumbai
23   Aquila At Sarova  Kandivali East  Mumbai
147   Lalani Grandeur   Goregaon East  Mumbai
358     Garden Estate      Thane West   Thane
381     Mali Pinnacle     Kalyan East   Thane

In [83]:
# Drop City-Society duplicate entries
idx = df_societies_areas[df_societies_areas[['Society', 'City']].duplicated()].index
df_societies_areas.drop(index=idx, inplace=True)

In [84]:
# Merge df with df_societies_areas to get Broader Area of societies
df = df.merge(df_societies_areas, how='left', on=['Society', 'City'])
df.head()

,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Landmark,Covered Area,Society,sqft Price (INR),Carpet Area,Area,Unit of Carpet Area,furnished Type,Bathroom,Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address,Area_Broader
0,Ready to Move,Immediately,20.0,Y,Tata Housing Development Company Ltd.,0.630,Rajoli naka,579.0,Tata Amantra,10880.0,579.0,Kalyan West,Sq-ft,Unfurnished,2.0,East,New Property,Apartment,Thane,2,Agent,34.0,Y,Sq-ft,New Construction,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",NaN
1,Ready to Move,Immediately,18.0,N,Sai Satyam Developers,0.540,This property has reputed scholl ints vicinity.,850.0,Sai Satyam Homes,6352.0,585.0,Kalyan West,Sq-ft,Unfurnished,2.0,East,New Property,Apartment,Thane,2,Agent,18.0,Y,Sq-ft,New Construction,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",NaN
2,Under Construction,Dec 25,5.0,N,Birla Estates,0.900,Shahad is one of the attractive locations to o...,1050.0,Birla Vanya,8571.0,815.0,Kalyan West,Sq-ft,Unfurnished,2.0,East,New Property,Apartment,Thane,2,Agent,27.0,Y,Sq-ft,NaN,3.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",NaN
3,Ready to Move,Immediately,8.0,Y,Godrej Properties,0.495,Majiwada metro station,561.0,Godrej Nirvaan,8824.0,419.0,Kalyan West,Sq-ft,Semi-Furnished,2.0,East,New Property,Apartment,Thane,1,Agent,26.0,Y,Sq-ft,NaN,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",Kalyan West
4,Ready to Move,Immediately,16.0,N,Tycoons Group,0.657,"Close to tree house school, dmart, kdmc garden...",1067.0,Tycoons Solitaire Sapphire,6157.0,667.0,Kalyan West,Sq-ft,Unfurnished,2.0,North - East,New Property,Apartment,Thane,2,Agent,18.0,Y,Sq-ft,NaN,1.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.240353,73.125279,"Kalyan West, Kalyan-Dombivli, Kalyan Taluka, T...",NaN

In [85]:
# Get IDs where Area Broader is not null
idx = df[df['Area_Broader'].notna()].index

# Update Area to Area Broader for these listings
df.loc[idx, 'Area'] = df.loc[idx, 'Area_Broader']

In [86]:
# Update Area Broader to Area for manual updation of Area Broader
df['Area_Broader'] = df['Area']

In [87]:
# Value counts in Area Broader
df['Area_Broader'].value_counts()

Area_Broader
Andheri West         446
Dombivli East        420
Thane West           390
Andheri East         370
Kandivali East       370
                    ...
Dn Nagar               1
Gondavali Gaothan      1
Jb Nagar               1
Jijamata Road          1
Hanuman Nagar          1
Name: count, Length: 197, dtype: int64

In [88]:
# Update Area Broader manually
df['Area_Broader'] = df['Area_Broader'].replace({
    'Majiwada': 'Thane West',
    'Balkum Village': 'Thane West',
    'Manpada': 'Thane West',
    'Kolshet Road': 'Thane West',
    'Pokharan Road Number 2': 'Thane West',
    'Hiranandani Estate': 'Thane West',
    'Bhayandarpada': 'Thane West',
    'Waghbil': 'Thane West',
    'Dhokali': 'Thane West',
    'Anand Nagar Thane West': 'Thane West',
    'Vartak Nagar': 'Thane West',
    'Patlipada': 'Thane West',
    'Kandarpada': 'Dahisar West',
    'Kolshet': 'Thane West',
    'Teen Hath Naka': 'Thane West',
    'Kopri': 'Thane East',
    'Owale': 'Thane West',
    'Thakur Village, Kandivali East': 'Kandivali East',
    'Marol': 'Andheri East',
    'Mahavir Nagar': 'Kandivali West',
    'Panch Pakhdi': 'Thane West',
    'Ashok Van': 'Dahisar East',
    'Vasant Vihar': 'Thane West',
    'Thakur Complex': 'Kandivali East',
    'Kapurbawdi': 'Thane West',
    'Kalina': 'Santacruz East',
    'Seven Bungalows': 'Andheri West',
    'Charkop': 'Kandivali West',
    'Asha Nagar': 'Kandivali East',
    'Amboli': 'Andheri West',
    'Sakinaka Junction': 'Andheri East',
    '4 Bunglows': 'Andheri West',
    'Naupada': 'Thane West',
    'Lokhandwala Complex': 'Andheri West',
    'Mahajan Wadi': 'Kandivali East',
    'Charai': 'Thane West',
    'Shivaji Park': 'Dadar West',
    'Veera Desai Road': 'Andheri West',
    'Natwar Nagar': 'Jogeshwari East',
    'Indira Nagar': 'Andheri East',
    'Rawal Pada': 'Dahisar East',
    'Wagle Industrial Estate': 'Thane West',
    'Subhash Nagar': 'Jogeshwari East',
    'Film City Road': 'Goregaon East',
    'Irani Wada': 'Dahisar East',
    'D.N. Nagar': 'Andheri West',
    'Vaishali Nagar': 'Dahisar East',
    'Chakki Naka': 'Kalyan West',
    'Brhmanwada': 'Matunga',
    'Dindoshi': 'Goregaon East',
    'Saki Vihar Road': 'Andheri East',
    'Chakala': 'Andheri East',
    'Lokhandwala Twp': 'Kandivali East',
    'Chikhal Dongari': 'Virar West',
    'Sher E Punjab Society': 'Andheri East',
    'Laxmi Nagar': 'Goregaon West',
    'Gokuldham': 'Goregaon East',
    'Pokharan Road Number 1': 'Thane West',
    'Miragaon': 'Miragaon, Mira Road',
    'Marol Naka': 'Andheri East',
    'Khar Danda': 'Khar West',
    'Marol Maroshi Road': 'Andheri East',
    'Poonam Nagar': 'Andheri East',
    'Versova Marg': 'Andheri West',
    'Alika Nagar': 'Mira Road East',
    'Gilbert Hill Jjc': 'Andheri West',
    'Charkop Sector 6': 'Kandivali West',
    'Azad Nagar': 'Andheri West',
    'Louis Wadi': 'Thane West',
    'Lokmanya Nagar': 'Thane West',
    'Mhatre Wadi': 'Kandivali West',
    'Nandivli': 'Dombivli East',
    'Chulne': 'Vasai West',
    'Y K Nagar': 'Virar West',
    'Bolinj ': 'Virar West',
    'Dhanukar Wadi': 'Kandivali West',
    'Samel Pada': 'Nalasopara East',
    'Vijay Nagar': 'Kalyan East',
    'Sen Nagar': 'Nalasopara East',
    'Hindu Colony': 'Dadar East',
    'Pandurang Wadi': 'Goregaon East',
    'Shree Siddhivinayak Mandir Chowk': 'Prabhadevi',
    'Penkarpada': 'Mira Road East',
    'Shivai Nagar': 'Thane West',
    'Jakhadevi Chowk': 'Vasai West',
    'Irla': 'Vile Parle West',
    'Tirupati Nagar': 'Virar West',
    'Kaka Sahab Dadarkar Chowk': 'Dadar West',
    'Golani Naka': 'Vasai East',
    'Dhumal Nagar': 'Vasai East',
    'Hind Nagar': 'Nalasopara East',
    'Amrut Nagar': 'Ghatkopar West',
    'Desai Village': 'Thane East',
    'Anand Nagar': 'Dahisar East',
    'Leo Peter Wadi': 'Vasai West',
    'Maratha Colony Dahisar': 'Dahisar East',
    'Balaji Nagar': 'Mira Road East',
    'Gokul Township': 'Virar West',
    'Agashi': 'Virar West',
    'Virat Nagar': 'Virar West',
    'Sonar Pada': 'Dombivli East',
    'Nandivali Gaon': 'Dombivli East',
    'Khopat': 'Thane West',
    'Meenatai Thakrey Chowk': 'Thane West',
    'Brahmand': 'Thane West',
    'Lok Puram': 'Thane West',
    'Kolbad': 'Thane West',
    'Ram Maruti Road Naupada': 'Thane West',
    'Sundar Nagar, Kalina': 'Santacruz East',
    'Laxmiben Chheda Nagar': 'Ghatkopar West',
    'Bimbisar Nagar': 'Goregaon East',
    'Century Bazaar': 'Prabhadevi',
    'Runwal Nagar': 'Thane West',
    'North Ave': 'Santacruz West',
    'L Tilak Colony': 'Dadar East',
    'Dadar Tt Circle': 'Dadar East',
    'Mahalaxmi Sindhi Colony': 'Mahalaxmi',
    'Jayprakash Nagar': 'Goregaon East',
    'Aarey Milk Colony': 'Goregaon East',
    'Ganesh Nagar': 'Borivali East',
    'Royal Palms Estate': 'Goregaon East',
    'Kanya Pada': 'Goregaon East',
    'Pathanwadi': 'Malad East',
    'Shivaji Nagar Malad East': 'Malad East',
    'Marine Drive': 'Churchgate',
    'Five Gardens': 'Matunga East',
    'Kopargaon': 'Dombivli West',
    'Upper Govind Nagar': 'Malad East',
    'Rpf Colony': 'Dombivli East',
    'Asavari': 'Mahim',
    'Mahatama Gandhi Road Amrut Nagar': 'Ghatkopar West',
    'Charkop Sector 8': 'Kandivali West',
    'Charkop Sector 9': 'Kandivali West',
    'Charkop Sector 3': 'Kandivali West',
    'Golibar': 'Santacruz East',
    'Old Khar': 'Khar West',
    'Samata Nagar': 'Kandivali East',
    'Akurli Nagar': 'Kandivali East',
    'Four Bungalows': 'Andheri West',
    'Millat Nagar': 'Andheri West',
    'Lallu Bhai Park': 'Andheri West',
    'Dn Nagar': 'Andheri West',
    'Gondavali Gaothan': 'Andheri West',
    'Jb Nagar': 'Andheri East',
    'Jijamata Road': 'Andheri East',
    'Hanuman Nagar': 'Worli'
})

In [89]:
# Updated value counts in Area Broader
df['Area_Broader'].value_counts()

Area_Broader
Thane West                       1044
Andheri West                      490
Dombivli East                     425
Andheri East                      410
Kandivali East                    407
Goregaon East                     336
Kandivali West                    319
Malad East                        211
Virar West                        188
Dahisar East                      182
Dadar West                        169
Dadar East                        151
Naigaon East                      135
Kalyan West                       123
Mira Road East                    118
Santacruz West                    110
Santacruz East                    108
Prabhadevi                        103
Vasai East                        101
Khar West                          84
Kalyan East                        75
Jogeshwari West                    70
Sion Koliwada                      62
Matunga West                       60
Chembur East                       59
Oshiwara                           58
Jogeshwari East                    58
Jogeshwari Vikhroli Link Road      57
Nalasopara West                    57
Vile Parle East                    50
Matunga East                       48
Mahalaxmi Race Course              46
Mahim West                         46
Lower Parel West                   42
Dahisar West                       41
Vasai West                         33
Chembur West                       31
Nalasopara East                    30
Vile Parle West                    28
Mumbai Central                     25
Dombivli West                      21
Thane East                         18
Virar East                         17
Marine Lines                       12
Agripada                           12
Sion East                          10
Sion West                           8
Grant Road                          7
Matunga                             3
Ghatkopar West                      3
Miragaon, Mira Road                 3
Goregaon West                       3
Lower Parel East                    3
Bolinj                              2
Churchgate                          2
Borivali East                       1
Venkatapuram-Balapuram              1
Mahalaxmi                           1
Mahim                               1
Worli                               1
Name: count, dtype: int64

In [90]:
# Areas in Thane city
df[df['City'] == 'Thane']['Area_Broader'].value_counts().sort_index()

Area_Broader
Dombivli East     424
Dombivli West      21
Kalyan East        74
Kalyan West       123
Thane East         18
Thane West       1042
Name: count, dtype: int64

In [91]:
# Areas in Mumbai city
df[df['City'] == 'Mumbai']['Area_Broader'].value_counts().sort_index()

Area_Broader
Agripada                          12
Andheri East                     409
Andheri West                     487
Bolinj                             2
Borivali East                      1
Chembur East                      59
Chembur West                      31
Churchgate                         2
Dadar East                       151
Dadar West                       169
Dahisar East                     182
Dahisar West                      41
Dombivli East                      1
Ghatkopar West                     3
Goregaon East                    336
Goregaon West                      3
Grant Road                         7
Jogeshwari East                   58
Jogeshwari Vikhroli Link Road     57
Jogeshwari West                   70
Kalyan East                        1
Kandivali East                   407
Kandivali West                   318
Khar West                         84
Lower Parel East                   3
Lower Parel West                  42
Mahalaxmi                          1
Mahalaxmi Race Course             46
Mahim                              1
Mahim West                        46
Malad East                       211
Marine Lines                      12
Matunga                            3
Matunga East                      48
Matunga West                      60
Mira Road East                   118
Miragaon, Mira Road                3
Mumbai Central                    25
Naigaon East                     135
Nalasopara East                   30
Nalasopara West                   57
Oshiwara                          58
Prabhadevi                       103
Santacruz East                   108
Santacruz West                   110
Sion East                         10
Sion Koliwada                     62
Sion West                          8
Thane West                         1
Vasai East                       101
Vasai West                        33
Vile Parle East                   50
Vile Parle West                   28
Virar East                        17
Virar West                       188
Worli                              1
Name: count, dtype: int64

In [92]:
# Mumbai city listings having Thane West or Dombivli East or Kalyan East areas [Inaccurate Broader areas]
df[(df['City'] == 'Mumbai') & (
    (df['Area_Broader'] == 'Thane West') |
    (df['Area_Broader'] == 'Dombivli East') |
    (df['Area_Broader'] == 'Kalyan East') 

)]

,Possession Status,Availability Starts From,Floor No,Commercial,Developer,Price (Crores),Landmark,Covered Area,Society,sqft Price (INR),Carpet Area,Area,Unit of Carpet Area,furnished Type,Bathroom,Facing,Transaction Type,Type of Property,City,bedroom,Data Referred From,floors,isPrimeLocationProperty,Unit of Covered Area,Property Lifespan,balconies,Power Back Up,Lift,Rain Water Harvesting,Club House,Swimming Pool,Gymnasium,Park,Parking.1,Security,Water Storage,Private Terrace/Garden,Vaastu Compliant,Service/Goods Lift,Air Conditioned,Visitor Parking,Intercom Facility,Maintenance Staff,Waste Disposal,Laundry Service,Internet/Wi-Fi Connectivity,DTH Television Facility,RO Water System,Banquet Hall,Bar/Lounge,Cafeteria/Food Court,Conference Room,Piped Gas,Jogging and Strolling Track,Outdoor Tennis Courts,Mansion,Downtown,Skyline View,Wrap Around Balcony,Island Kitchen Layout,Full Glass Wall,House help accommodation,Concierge Services,Garden View,Marble flooring,Well Furnished,Modular Kitchen,Helipad,Private pool,Private Jaccuzi,Mini Cinema Theatre,Golf Course,Infinity Swimming Pool,Pool with temperature control,Sea facing,Skydeck,Earth quake resistant,Theme based Architectures,Health club with Steam / Jaccuzi,Large Clubhouse,Large Open space,Fingerprint Access,Grand Entrance lobby,Private Garage,Fireplace,Wine Cellar,Sky Villa,Water Front,Hilltop,Smart Home,Barbeque space,Kids play area,Library,Puja Room,Study,Servant Room,Store,Aerobics Room,Canopy Walk,Coffee Lounge & Restaurants,Dance Studio,Event Space & Amphitheatre,Flower Gardens,Guest Accommodation,Indoor Squash & Badminton Courts,Kids Play Area,Kids Play Pool With Water Slides,Library And Business Centre,Meditation Area,Multipurpose Courts,Recreational Pool,Rentable CommuniPfty Space,Retail Boulevard (Retail Shops),Cycling & Jogging Track,Fire Fighting Equipment,Aesthetically designed landscape garden,latitude,longitude,geocoded_address,Area_Broader
1741,Ready to Move,Immediately,6.0,N,Gaurang Associates,2.25,NaN,1400.0,West View,16071.0,NaN,Naupada,Sq-ft,Furnished,2.0,NaN,Resale,Apartment,Mumbai,3,Owner,8.0,N,Sq-ft,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19.082962,72.888987,"Naupada, L Ward, Zone 5, Mumbai Suburban, Maha...",Thane West
4725,Ready to Move,Immediately,8.0,N,Lodha,1.00,"The property is in palava phase - ii, dombivli...",1223.0,Lodha Lakeshore Greens,8177.0,673.0,Rpf Colony,Sq-ft,Semi-Furnished,2.0,West,Resale,Apartment,Mumbai,2,Owner,16.0,Y,Sq-ft,5 to 10 years,2.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.069233,72.845070,"RPF Colony, H/E Ward, Zone 3, Mumbai Suburban,...",Dombivli East
6164,Ready to Move,Immediately,3.0,N,Hubtown Ltd.,12.00,Just above big boy toys car showrrom,3350.0,Hubtown Sunmist,35820.0,2600.0,Vijay Nagar,Sq-ft,Unfurnished,4.0,North - East,New Property,Residential House,Mumbai,4,Owner,15.0,Y,Sq-ft,Less than 5 years,4.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,19.044577,72.890128,"Vijay Nagar, M/W Ward, Zone 5, Mumbai Suburban...",Kalyan East

In [93]:
# Manual correction
df.loc[1741, 'Area_Broader'] = 'Bandra East'
df.loc[4725, 'City'] = 'Thane'
df.loc[6164, 'Area_Broader'] = 'Andheri East'

In [94]:
# Check missing values
print('Missing values in Area: ', df['Area'].isna().sum())

Missing values in Area:  0

In [95]:
# Check shape
df.shape

(6319, 120)

-------------

#### Column assesment: furnished Type

In [96]:
# Rename column
df.rename(columns={'furnished Type': 'Furnished Type'}, inplace=True)

In [97]:
# Format
df['Furnished Type'] = df['Furnished Type'].str.title().str.strip()

In [98]:
# Count unique values
df['Furnished Type'].value_counts()

Furnished Type
Unfurnished       3431
Semi-Furnished    1993
Furnished          844
Name: count, dtype: int64

In [99]:
# Check missing values
df['Furnished Type'].isna().sum()

np.int64(51)

In [100]:
# Check shape
df.shape

(6319, 120)

---------------

#### Column assesment: Bathroom

In [101]:
# Rename column
df.rename(columns={'Bathroom': 'Bathrooms'}, inplace=True)

In [102]:
# Count unique values
df['Bathrooms'].value_counts()

Bathrooms
2.0     3560
3.0     1122
1.0     1025
4.0      384
5.0      127
6.0       50
7.0        7
10.0       1
Name: count, dtype: int64

In [103]:
# Check missing values
df['Bathrooms'].isna().sum()

np.int64(43)

In [104]:
# Check shape
df.shape

(6319, 120)

-----------------

#### Column assesment: Facing

In [105]:
# Format
df['Facing'] = df['Facing'].str.title().str.strip()

In [106]:
# Count unique values
df['Facing'].value_counts()

Facing
East            2716
North - East     665
West             501
North            394
North - West     119
South -West       91
South             88
South - East      65
Name: count, dtype: int64

In [107]:
# Format values
df['Facing'] = df['Facing'].str.replace(' - ', '-')
df['Facing'] = df['Facing'].str.replace(' -', '-')

df['Facing'].value_counts()

Facing
East          2716
North-East     665
West           501
North          394
North-West     119
South-West      91
South           88
South-East      65
Name: count, dtype: int64

In [108]:
# Missing values
df['Facing'].isna().sum()

np.int64(1680)

In [109]:
# Check shape
df.shape

(6319, 120)

----------------

#### Column assesment: Transaction Type

In [110]:
# Format
df['Transaction Type'] = df['Transaction Type'].str.title().str.strip()

In [111]:
# Count unique values
df['Transaction Type'].value_counts()

Transaction Type
Resale          3862
New Property    2450
Rent               3
Other              3
Rent/Lease         1
Name: count, dtype: int64

In [112]:
# Drop properties with 'Other' or 'Rent/Lease' transaction type
idx = df[(df['Transaction Type'] == 'Rent') | (df['Transaction Type'] == 'Other') | (df['Transaction Type'] == 'Rent/Lease')].index
df.drop(index = idx, inplace=True)

In [113]:
# Check missing values
df['Transaction Type'].isna().sum()

np.int64(0)

In [114]:
# Check shape
df.shape

(6312, 120)

---------------

#### Column assesment: Type of Property

In [115]:
# Format
df['Type of Property'] = df['Type of Property'].str.title().str.strip()

In [116]:
# Count unique values
df['Type of Property'].value_counts()

Type of Property
Apartment                  6201
Residential House            51
Builder Floor Apartment      29
Villa                        21
Penthouse                    10
Name: count, dtype: int64

In [117]:
# Check missing values
df['Type of Property'].isna().sum()

np.int64(0)

In [118]:
# Check shape
df.shape

(6312, 120)

---------------

#### Column assesment: City

In [119]:
# Format
df['City'] = df['City'].str.title().str.strip()

In [120]:
# Count unique values
df['City'].value_counts()

City
Mumbai       4604
Thane        1701
Nagpur          5
Bhiwandi        1
Hyderabad       1
Name: count, dtype: int64

In [121]:
# Drop properties where City is Nagpur, Bhiwandi or Hyderabad
idx = df[(df['City'] == 'Nagpur') | (df['City'] == 'Bhiwandi') | (df['City'] == 'Hyderabad')].index
df.drop(index=idx, inplace=True)

In [122]:
df.shape

(6305, 120)

----------------

#### Column assesment: bedroom

In [123]:
# Rename the column
df.rename(columns={'bedroom': 'Bedrooms'}, inplace=True)

In [124]:
# Count unique values
df['Bedrooms'].value_counts()

Bedrooms
2    2517
1    2019
3    1315
4     370
5      66
6      18
Name: count, dtype: int64

In [125]:
# Check missing values
df['Bedrooms'].isna().sum()

np.int64(0)

In [126]:
# Check shape
df.shape

(6305, 120)

---------------

#### Column assesment: Data Referred from

In [127]:
# Rename
df.rename(columns={'Data Referred From': 'Posted By'}, inplace=True)

In [128]:
# Format
df['Posted By'] = df['Posted By'].str.title().str.strip()

In [129]:
# Count unique values
df['Posted By'].value_counts()

Posted By
Agent      3387
Owner      2753
Builder     165
Name: count, dtype: int64

In [130]:
# Check missing values
df['Posted By'].isna().sum()

np.int64(0)

In [131]:
# Check shape
df.shape

(6305, 120)

------------

#### Column assesment: floors

In [132]:
# Rename the column
df.rename(columns={'floors': 'Total Floors'}, inplace=True)

In [133]:
# Count unique values
df['Total Floors'].value_counts()

Total Floors
7.0      694
22.0     403
23.0     272
8.0      249
15.0     226
        ...
200.0      1
93.0       1
71.0       1
91.0       1
74.0       1
Name: count, Length: 82, dtype: int64

In [134]:
# Check missing values
df['Total Floors'].isna().sum()

np.int64(405)

In [135]:
# Check shape
df.shape

(6305, 120)

---------------

#### Column assesment: isPrimeLocationProperty

In [136]:
# Format
df['isPrimeLocationProperty'] = df['isPrimeLocationProperty'].str.capitalize().str.strip()

In [137]:
# Count unique values
df['isPrimeLocationProperty'].value_counts()

isPrimeLocationProperty
Y    4885
N    1420
Name: count, dtype: int64

In [138]:
# Check missing values
df['isPrimeLocationProperty'].isna().sum()

np.int64(0)

In [139]:
# Check shape
df.shape

(6305, 120)

-----------

#### Column assesment: Property Lifespan

In [140]:
# Format
df['Property Lifespan'] = df['Property Lifespan'].str.capitalize().str.strip()

In [141]:
# Count unique values
df['Property Lifespan'].value_counts()

Property Lifespan
New construction     1064
Less than 5 years     823
5 to 10 years         771
10 to 15 years        467
Above 20 years        249
15 to 20 years        238
Name: count, dtype: int64

In [142]:
# Check missing values
df['Property Lifespan'].isna().sum()

np.int64(2693)

In [143]:
# Check shape
df.shape

(6305, 120)

--------

#### Column assesment: balconies

In [144]:
# Rename
df.rename(columns={'balconies': 'Balconies'}, inplace=True)

In [145]:
# Count unique values
df['Balconies'].value_counts()

Balconies
1.0    1333
2.0     742
3.0     634
4.0     187
5.0      45
6.0      15
8.0       2
7.0       1
Name: count, dtype: int64

In [146]:
# Check missing values
df['Balconies'].isna().sum()

np.int64(3346)

In [147]:
# Check shape
df.shape

(6305, 120)

-------------

#### Column assesment: Parking.1

In [148]:
# Rename the column
df.rename(columns={'Parking.1': 'Parking'}, inplace=True)

In [149]:
# Count unique values
df['Parking'].value_counts()

Parking
1    4523
0    1782
Name: count, dtype: int64

In [150]:
# Check missing values
df['Parking'].isna().sum()

np.int64(0)

In [151]:
# Check shape
df.shape

(6305, 120)

--------------

In [153]:
# Save the dataframe in CSV format
df.to_csv('Output Files\\stage_2_property_data.csv', index=False)